[2017-12-04 14:09] bryan-brancotte opened #1 "Use edam proposed json format..."
... as proposed in https://github.com/edamontology/edamontology/issues/326#issuecomment-348208324

[2017-12-04 16:39] bryan-brancotte opened #2 "Fully functional search field"
For now it only accept uri. It should also accept free text and propose the concept where the given string can be found.

[2017-12-06 12:46] bryan-brancotte commented on #2
done

[2017-12-06 12:46] #2 closed

[2017-12-06 12:47] bryan-brancotte commented on #1
available in https://github.com/IFB-ElixirFr/edam-browser/tree/issue_1

[2018-02-01 12:54] hmenager opened #3 "Add information on a general level about the ontology"
- URL parsed
- EDAM version and last edit date -> needs to be added to the JSON export first!

[2018-02-01 13:06] hmenager opened #4 "display terms previously seen in a separate section"
to make it explicit these are the ones previously browsed by the user

[2018-02-01 13:07] bryan-brancotte opened #5 "Show relations between branches"
![relation](http://edamontology.org/EDAMrelations.png)

[2018-02-01 13:11] bryan-brancotte commented on #5
For curation, we should not only display the format of a data, but also the child format of this data (but maybe a part of it of there is too much data)

[2018-02-01 13:31] bryan-brancotte opened #6 "Ontology web browser to evaluate"
- [x] [OLS](https://www.ebi.ac.uk/ols/ontologies/edam)
- [x] [BioPortaal](bioportal.bioontology.org)
- [x] [Web Protege](https://webprotege.stanford.edu/)
- [x] [AberOWL](aber-owl.net)
- [ ] [Ontobee](http://www.ontobee.org/ontology/EDAM) ?

[2018-02-01 15:59] bryan-brancotte commented on #4
A separator have been added. Feel free to re-open the issue if you consider that it should be more explicit.

[2018-02-01 15:59] #4 closed

[2018-02-01 16:00] bryan-brancotte commented on #5
waiting for https://github.com/edamontology/edam2json/issues/2

[2018-02-01 16:00] #1 closed

[2018-02-01 21:43] hmenager commented on #5
done, example files here:

[edam2json_with_new_properties.tar.gz](https://github.com/IFB-ElixirFr/edam-browser/files/1687344/edam2json_with_new_properties.tar.gz)

[2018-02-02 15:18] bryan-brancotte commented on #3
added

[2018-02-02 15:18] #3 closed

[2018-02-02 15:18] bryan-brancotte opened #7 "Use JS closure for the autocomplete widget"

[2018-02-05 14:28] cblanchet opened #8 "Commentaires sur le papier en préparation"
Propositions:
- [ ] ajouter une colonne pour EDAMbrowser dans le tableau de comparaison des fonctionnalités
- [x]  fournir un lien vers une ontologie 'custom' pour le critère 6
- [x]  le terme "getter" n'est pas clair

[2018-02-05 14:29] cblanchet opened #9 "EDAM démo : fournir un lien pour un exemple de 'custom ontology'"

[2018-02-05 16:57] bryan-brancotte commented on #9
Example file [here](https://github.com/IFB-ElixirFr/edam-browser/blob/master/media/regular.example.json)

Onclick loading [here](https://ifb-elixirfr.github.io/edam-browser/?url=media%2Fregular.example.json&identifier_accessor=d.id&text_accessor=d.text#p9&custom_url)

[2018-02-05 16:57] #9 closed

[2018-02-05 16:59] bryan-brancotte commented on #5
Fait, par contre je ne met que l'id, n'ayant pas en mémoire les info des autres branches.

[Exemple](https://ifb-elixirfr.github.io/edam-browser/#http://edamontology.org/operation_2409)

[2018-02-05 17:09] bryan-brancotte commented on #8
Lien vers l'ontologie mit, mais aussi le lien [one click open](https://ifb-elixirfr.github.io/edam-browser/?url=https%3A%2F%2Fraw.githubusercontent.com%2FIFB-ElixirFr%2Fedam-browser%2Fmaster%2Fmedia%2Fregular.example.json&identifier_accessor=d.id&text_accessor=d.text#p9&custom_url)

[2018-02-05 17:10] bryan-brancotte commented on #8
Pour l'ajout de la colonne, j'ai préféré indiqué dans l'intro du Related work que les critères était recherché par les utilisateurs et auteurs d'EDAM.

[2018-02-05 17:10] #8 closed

[2018-02-05 17:14] bryan-brancotte commented on #6
I let Ontobee aside for the moment. Note that it is very close to AberOWL in terms of our criteria.

[Phylogeny](http://www.ontobee.org/ontology/EDAM?iri=http%3A%2F%2Fedamontology.org%2Ftopic_0084)

[2018-02-05 17:14] #6 closed

[2018-02-06 15:21] bryan-brancotte opened #10 "Cannot add new term to selection in demo"

[2018-02-06 15:23] bryan-brancotte opened #11 "Criteria 8 comunity usage"
indicats that we query tess bio.tools bioweb to know how many ressource have bee, labeled with the given element

[2018-02-08 15:37] bryan-brancotte commented on #7
closure not needed, code refactored

[2018-02-08 15:37] #7 closed

[2018-02-08 15:37] bryan-brancotte opened #12 "Use new autocomplete in term edition"
currently HS

[2018-02-08 15:38] bryan-brancotte commented on #5
Now we use the text, not the ID. All done=> closing

[2018-02-08 15:38] #5 closed

[2018-02-08 17:31] bryan-brancotte commented on #12
fixed, refactoring pending

[2018-02-09 09:45] #12 closed

[2018-02-09 09:52] #10 closed

[2018-02-09 10:15] hmenager opened #13 "javascript error when trying to expand "Alignment" operation"
Navigate to this URL https://ifb-elixirfr.github.io/edam-browser/#operation_2928&operation
expand "Operation" node, and then try to expand "Alignment" node. The node does not expand, and there is a JS error:
[code]

This is caused by "d" being undefined at line 382 of https://ifb-elixirfr.github.io/edam-browser/js/tree-edam-stand-alone.js.

[2018-02-09 10:23] bryan-brancotte commented on #13
fixed, thanks !

[2018-02-09 10:23] #13 closed

[2018-02-09 10:47] hmenager commented on #13
thank you @bryan-brancotte !

[2018-02-09 13:14] bryan-brancotte commented on #11
added

[2018-02-09 13:14] #11 closed

[2018-02-13 16:06] bryan-brancotte opened #14 "Community usage, with descendant of a term for bio.tools"
Following discussion with @hmenager it is needed to not onyl show the usage of a term but also its descendants.

[2018-02-13 16:12] bryan-brancotte commented on #14
Have been done only for bio.tools.

As it can generate a lot of ajax call, we prevent using it on the four main branch, and Identifier. As an example clicking on the Identifier node would generate 2382 queries sent at the same time toward bio.tools ...

[2018-03-13 10:29] #14 closed

[2018-04-30 13:22] bryan-brancotte opened #15 "Travis CI"
Hi, Could you allow travis to run Continuous integration on IFB-Elixir projects ? It can be done at https://github.com/settings/connections/applications/f244293c729d5066cf27 (from [there](https://github.com/marketplace/travis-ci))

[2018-04-30 13:25] lecorguille commented on #15
Done

[2018-04-30 13:25] #15 closed

[2018-04-30 13:26] bryan-brancotte commented on #15
thanks !

[2018-04-30 13:49] hmenager commented on #15
thank you @lecorguille ;)

[2018-05-20 20:12] alexgarciac opened #16 "DOIs"
Please add DOIs to the references where applicable. For instance,
https://doi.org/10.1186/s12859-015-0456-9 for https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-015-0456-9 in your bib file this is with no DOI, see below.

@article{hoehndorf2015aber,
  title={Aber-OWL: a framework for ontology-based data access in biology},
  author={Hoehndorf, Robert and Slater, Luke and Schofie

[2018-05-20 20:31] alexgarciac commented on #16
Ok. the abstract should simply present what you did. Please reorganize as problem statement, proposed solution and availability. then there should be the "A short summary describing the high-level functionality of the software". this is somewhat in your sections "availability", "info display", "performance and flexibility"  and "easy....". So, the paper is disorganized. You only need to state the

[2018-05-20 20:38] alexgarciac commented on #16
Please look at

Its interface is not designed to be a generic ontology navigation and edition platform, a goal already achieved by many other systems (AberOWL(Hoehndorf et al. 2015), BioPortal(Whetzel et al. 2011), OLS - Ontology Lookup Service(Jupp et al. 2015), Ontobee(Xiang et al. 2011), WebProtégé(Tudorache et al. 2013)).

I presume the "its" refers to the EDAM interface. Just use the form "

[2018-05-21 08:03] alexgarciac commented on #16
Please in the manuscript, as well as in the readme for the git make sure that u clearly address the following issues:

1- This one requires attention more in the manuscript than in the readme. As you state that your form is meant to support the evolution of the ontology then there is a community component. are comments going to be visible for everyone to see and keep commenting on? is this comment

[2018-05-23 09:15] joncison opened #17 ""Propose a change in "edam" of EDAM ontology" bug"
In the term-change window the title is not rendering the term correctly:

![capture](https://user-images.githubusercontent.com/1506863/40415164-36b75232-5e72-11e8-9f30-dbce6b3536cf.PNG)

It seems to be like this for all terms

[2018-05-23 09:19] joncison opened #18 "EDAM term URI"
Currently the EDAM URL link is actually linking to the current page in EDAM Browser (not useful) - I'd suggest the link is the same as rendered (which resolves to EDAM concepts in BioPortal currently).

![capture](https://user-images.githubusercontent.com/1506863/40415423-be3b9e7a-5e72-11e8-9797-a42c6cea5492.PNG)

[2018-05-23 09:21] joncison opened #19 "Give "EDAM" not "owl:Thing" as root"
It's a small detail, but if it can easily be hacked, it would be much nicer to render "EDAM" instead of "owl:Thing" here:

![capture](https://user-images.githubusercontent.com/1506863/40415552-0b04b55c-5e73-11e8-8937-7757a6ddd21f.PNG)

[2018-05-23 09:30] joncison opened #20 "Rendering bio.tools term usage counts in graph"
Super-nice to have e.g. a radio button or check-box, which causes bio.tools usage counts to be rendered in the graph:
1. usage of the current term
2. usage of current term + kids (descendants)

something like:
![capture](https://user-images.githubusercontent.com/1506863/40416091-55d062ec-5e74-11e8-8a28-8ad49c2a0a0c.PNG)

[2018-05-23 09:38] joncison opened #21 "Better line colour choice"
To help colour-perceptive-impaired people (well me at least) a bit :)

I struggle to see the difference in colour used for Operation and Topic here:
![capture](https://user-images.githubusercontent.com/1506863/40416485-4cee53ae-5e75-11e8-8db2-434cca6c404c.PNG)

I recall we had a sort-of "formal" colour schema for EDAM as used on Kenzo's EDAM poster, right @hmenager ?

[2018-05-23 09:42] joncison opened #22 "Option to render line weight to reflect bio.tools usage"
I first heard this idea from @hmenager I think.

It would be worth experimenting with (an option to render) line weights according to the bio.tools term usage, *i.e.* the weight of a line from termA to termB would reflect the usage of termA *and all it's kids*.

The use-case here is using EDAM-Browser to optimise EDAM during refactorings, *i.e.* we'd benefit greatly from a visually immediately obv

[2018-05-23 09:44] joncison opened #23 "Root term text is clipped when I select "Only operation" (buglet)"
When I click "EDAM...Only Operation" the label "Operation" is clipped:

![capture](https://user-images.githubusercontent.com/1506863/40416839-3cb77398-5e76-11e8-9215-371bb094cabf.PNG)

[2018-05-23 09:45] joncison commented on #21
... or if we are already using the formal colour scheme - just close this issue and I'll concentrate harder when looking.

[2018-05-23 09:47] joncison opened #24 "Check-boxes for more flexible rendering of sub-ontologies"
Currently you can have all or one of the EDAM sub-ontologies rendered via:

![capture](https://user-images.githubusercontent.com/1506863/40416982-9d9a5234-5e76-11e8-933a-daf521c67a28.PNG)

It might be nice instead if one could select any combination, by checkboxes

I could imagine *e.g.* wanting see both Data and Formats at the same time.

[2018-05-23 09:52] joncison commented on #18
**UPDATE**

Now I see where you're coming from with:

![capture](https://user-images.githubusercontent.com/1506863/40417128-ece60d4c-5e76-11e8-9f5a-739e063b6ef4.PNG)

It's very useful to click on the node and have the view updated!

So I suggest to to adjust the "Details of term ..." box to include:
1. Term names (which link to EDAM-Browser)
2. EDAM URIs (which link to EDAM) - possibly in smaller

[2018-05-23 09:57] joncison opened #25 "Clicking on link must force refresh of sub-ontology visibility"
Say I've selected to see "Only Operation", but I'm on a term with links to *e.g.* Data terms:

![capture](https://user-images.githubusercontent.com/1506863/40417526-dc7e086e-5e77-11e8-81fc-9cfa5dfd37b1.PNG)

In this scenario, clicking on either of the Data links does nothing.

What I suggest it could do is to render the Data branch down the term clicked upon.  This is related to https://github.com

[2018-05-23 10:00] joncison opened #26 "Show somewhere what version of EDAM is being rendered"
*e.g.* "Supports EDAM 1.20" with link(s) to http://github.com/edamontology/edamontology and/or https://www.ebi.ac.uk/ols/ontologies/edam and http://bioportal.bioontology.org/ontologies/EDAM.

[2018-05-23 10:07] joncison commented on #18
**UPDATE**
I now see the links at the bottom:
![capture](https://user-images.githubusercontent.com/1506863/40417899-cdd241b2-5e78-11e8-96a1-5e4c490d7656.PNG)

which is OK, but there's a bit of a usability issue, probably cleared up if you:
1. Use "Term" rather than text and make the term clickable
2. Move the "URI" field down to the bottom, and probably do not render this as a link at all
3. Rende

[2018-05-23 10:29] joncison opened #27 "Tool tips in "Propose a change ..." window"
Folks might not be familiar with what "Parent", "Narrow synonym" *etc* mean, so tool tips here could make a massive difference.

I recently created an "EDAM Format request" issue template which includes some documentation you could use:
https://github.com/edamontology/edamontology/blob/master/.github/ISSUE_TEMPLATE/edam-format-concept-request.md

Note!  The markdown includes HTML comments (the use

[2018-06-04 13:54] krab1k opened #28 "Exact match in search should get a priority"
E.g., when searching for "calculation", drop-down suggestions list shows the exact match Calculation (operation_3438) at almost twentieth place.

[2018-06-14 13:44] bryan-brancotte commented on #28
There is for now no sorting in the drop down list.

[2018-06-14 14:09] bryan-brancotte commented on #21
Hi @joncison
Surprisingly the color used and then rendered are not the same ! I guess that it might me a transparency issue or something on d3 side, I'll take a closer look.

[2018-06-14 18:21] joncison commented on #21
Yup!  The colours in https://github.com/edamontology/edamontology/issues/340#issuecomment-363754915 look good!

[2018-06-26 10:12] joncison opened #29 "Various suggestions (from https://github.com/edamontology/edamontology/issues/299)"
There are various suggestions in:
https://github.com/edamontology/edamontology/issues/299

which should be tracked in this repo instead.  No easy way to migrate the issue, so please take a look at the above, and close it (and this) once you're happy.

I think some of the stuff in there has already been done, and the rest can be covered by new issue requests in this repo.

[2018-06-27 16:15] joncison opened #30 ""Expand all" button"
i.e. which completely expands EDAM Topic, Operation, Data or Format subontology - so I can see **all** concepts for one-click.  It's a big chore currently.

This would be **hugely** useful when using EDAM browser to refactor EDAM.

[2018-07-01 18:53] matuskalas opened #31 "Please add Galaxy annotations to the "Community usage""
- [ ] Data & format annotations:
Either from https://test.galaxyproject.org or https://usegalaxy.org (the latter released with datatypes update every 4 months).
**Higher priority** (cool to do after I get all these updated in the Galaxy code, and adequate updates are released in EDAM)

- [ ] Operation & topic annotations:
Would be the best to pull from the [main ToolShed](https://toolshed.g2.bx.ps

[2018-07-01 19:03] matuskalas opened #32 "Please add Debian Med annotations to the "Community usage""
From UDD. @tillea made a script that pulls all the EDAM annotations from there.

Please contact the debian-med mailing list or @tillea if help needed.

[2018-07-02 08:31] bryan-brancotte commented on #32
Hi @matuskalas
Do you have any link where the usage are displayed ?

[2018-07-02 08:42] tillea commented on #32
On Mon, Jul 02, 2018 at 08:31:18AM +0000, bryan brancotte wrote:

$ edam.sh -h
Usage: ./edam.sh [option]
      -h print this help screen
      -j JSON export
      -m forcing public mirror over local one

Description:
 Query local or public UDD for information that could be useful for EDAM.

[2018-07-02 08:47] bryan-brancotte commented on #32
Hi @tillea
I think the attachment was lost during the conversion email->issue.
Note that the "Community usage" rely on webservice in order to display up-to-date informations, which was the reason for me asking for a website with software associated with edam terms

[2018-07-02 09:07] tillea commented on #32
On Mon, Jul 02, 2018 at 08:47:52AM +0000, bryan brancotte wrote:

There was no attachment.  Matus was refering to
  https://github.com/bio-tools/biotoolsConnect/blob/master/DebianMed/edam.sh
and I just "explained" the usage.

[2018-07-03 16:29] bryan-brancotte commented on #20
Information is already displayed for the current node on the right panel.
I understand that the need is to display for all links, but i see two problems:
* displaying it on each node would hammer bio.tools as there is almost no caching (in order to have up-to-date counts)
* why displaying bio.tools and not another one ?

=> solution would be to have it optional

[2018-07-03 16:36] #19 closed

[2018-07-04 08:35] #17 closed

[2018-07-04 08:44] #18 closed

[2018-07-04 08:45] bryan-brancotte commented on #16
Closing as followed in https://github.com/openjournals/joss-reviews/issues/698

[2018-07-04 08:45] #16 closed

[2018-07-04 08:46] bryan-brancotte commented on #22
need #20 first

[2018-07-04 08:51] bryan-brancotte commented on #24
Great idea but for now we rely on a json file produced from the owl file containing all the scope.
Could be done in the futur if we rely on a file produce on the fly when asking for a specifique subset of the ontology

[2018-07-04 08:51] #24 closed

[2018-07-04 08:53] bryan-brancotte commented on #26
Fixed

[2018-07-04 08:53] #26 closed

[2018-07-04 08:54] bryan-brancotte commented on #27
link is dead

[2018-07-04 11:04] bryan-brancotte opened #33 "Add SeeAlso"
From https://github.com/edamontology/edamontology/issues/299#issuecomment-315293079
Pending after https://github.com/edamontology/edam2json/issues/4

[2018-07-04 11:04] bryan-brancotte commented on #29
each request transfered

[2018-07-04 11:04] #29 closed

[2018-07-04 11:04] joncison commented on #24
Just a footnote : OWL subsets (hence JSONs for subontologies) can fairly easily be generated automatically using existing tooling, if we want to do this in future.

[2018-07-04 15:30] #23 closed

[2018-07-04 15:43] #25 closed

[2018-07-05 07:55] bryan-brancotte commented on #31
Hi @matuskalas
Links to galaxy instanceS is in scope. Do you a a link where I can see data annotated with edam ? I did not found that yet.
Best

[2018-07-05 08:06] bryan-brancotte commented on #32
Hi, thanks for the link. For now we only rely on REST webservice, and web crawling. If you are aware of the existence of one of them for Debian Med feel free to post it here and re-open the ticket.

[2018-07-05 08:14] tillea commented on #32
On Thu, Jul 05, 2018 at 01:06:21AM -0700, bryan brancotte wrote:

May be that's a misunderstanding.  My script is by NO means a SERVICE.  I just gave an EXAMPLE who you can query UDD for relevant data.  I assumed Matus had propagated the message that it is NO ready TOOL.  You should rather adapt the SQL code and adapt it to some REST service.  But that's not my field of work - I simply wanted to h

[2018-07-05 10:14] #28 closed

[2018-07-05 16:38] bryan-brancotte commented on #30
Can be done, but i'm really not sure that the tree visualisation is usable after that.
Can be tested by running javascrit
[code]

[2018-07-05 16:53] joncison commented on #30
Currently I'm expanding the whole tree manually (which sucks) - my specific use-case is I need to see the whole tree to get a quick impression of very deeply nested concepts (also concepts with multiple parents) - to inform periodic EDAM clean-ups.

So it's definitely still usable (just not for typical expected usage /users).

[2018-07-09 12:20] #30 closed

[2018-07-18 11:54] bryan-brancotte opened #34 "Issuing DOI with zenodoo"
Hi,
I need to issue a DOI for the EDAM Browser, I've been recommended to use zenodo. Could you allow it to use hook ? You probably received an email requesting this acces.
Thanks

[2018-07-18 13:10] lecorguille commented on #34
Zenodo, isn't just for the data?

[2018-07-18 13:12] joncison commented on #34
I think a zenodo doi can be minted for pretty much anything ... including software.

[2018-07-18 15:00] lecorguille commented on #34
Oki ... Done

[2018-07-18 15:00] #34 closed

[2018-07-19 07:22] vdda commented on #34
Agree with Jon

On Wed, Jul 18, 2018 at 3:12 PM, Jon Ison <notifications@github.com> wrote:

[2018-11-14 15:45] veitveit opened #35 "Add parent terms to info box"
Particularly for formats, where the terms are children of both file type family (e.g. "XML") and category ("Sequence alignment"), it would come handy to see them in the box with the details about the term.

[2018-11-14 15:55] bryan-brancotte commented on #35
Hi, I don't understand fully your suggestion. Could you provide us an element (ideally with its URI) being a child of "XML" and "Sequence alignment" ?

Did you mean [operation_0292](https://ifb-elixirfr.github.io/edam-browser/#operation_0292) or [data_0863](https://ifb-elixirfr.github.io/edam-browser/#data_0863) for "category" Sequence alignment

[2018-11-14 16:06] bryan-brancotte commented on #35
OK, i understand now, the other parent is also selected in the tree visualisation but due to the number of siblings, and the initial zoom, "Protein interaction format" is way upper in the tree rendering (see hereafter) and not seen
![capture d ecran de 2018-11-14 17-03-31](https://user-images.githubusercontent.com/11556772/48494990-54e1ef00-e82f-11e8-8140-b37e62c02baf.png)

We indeed could add it

[2018-11-14 16:13] bryan-brancotte commented on #27
https://github.com/edamontology/edamontology/blob/master/.github/ISSUE_TEMPLATE/new-format.md

[2018-11-14 16:30] veitveit commented on #35
Oh, I didn't see that! Would still be nice to have :-)

Thanks

[2018-11-14 22:43] #35 closed

[2018-11-14 22:43] bryan-brancotte commented on #35
done :-)

[2018-12-10 21:12] joncison opened #36 "Update for new bio.tools release (was "Too many bio.tools hits - bug ?")"
![image](https://user-images.githubusercontent.com/1506863/49761908-318c5180-fcc0-11e8-8e16-5341009d98f1.png)

something weird is happening (6643 is obv. not right)

[2018-12-10 21:14] joncison commented on #36
ah .. hold on ... this is happening all over the place.  We just made a new deployment of _bio.tools_ so perhaps explains this?  cc @hmenager

[2018-12-10 21:31] hmenager commented on #36
indeed, something is seriously wrong with the bio.tools hits.

On Mon, Dec 10, 2018 at 10:14 PM Jon Ison <notifications@github.com> wrote:

[2018-12-10 21:34] hmenager commented on #36
So, here's how we retrieve the number of entries for sequence alignment analysis:
https://bio.tools/api/tool/?format=json&function=Sequence%20alignment%20analysis
It returns 6643 entries. is this the way the API should work with the new version, or has it changed in some way?
Cheers,
Hervé

[2018-12-10 21:36] joncison commented on #36
Ah!   What that now does is a "fuzzy" search across function, meaning input type(s), input format(s), operation(s), output type(s) and output format(s), note and command - which is cool (but very flexible).

It's documented here:
https://biotools.readthedocs.io/en/latest/api_reference_dev.html#attributes

Hold on, I'll dig out the URL you need ...

[2018-12-10 21:38] hmenager commented on #36
Fuzzy search behaviour is exactly what I was suspecting we have here. Hopefully, this one should be easy to fix.

[2018-12-10 21:40] joncison commented on #36
I *think* this is it:
https://bio.tools/api/tool/?format=json&operationID=operation_0258

which gives 2276 hits (which could be right)

[2018-12-10 21:44] joncison commented on #36
Curiously, the equivalent quoted search (for "Sequence alignment") using the UI gives 2210 hits:
https://bio.tools/?page=1&q=%22Sequence%20analysis%22&sort=score

hmm

@hansioan let's take a look tomorrow

[2018-12-10 21:49] hmenager commented on #36
thanks a lot @joncison. as far as EDAM browser goes, I think we can take it from here.

[2018-12-10 21:51] joncison commented on #36
sorry ... I forget to read my own docs, the ID search should have been quoted, thus:
https://bio.tools/api/tool/?format=json&operationID="operation_0258"

which returns 43 hits (more like it)

The equivalent search above (which I gave wrongly above .... jeez):
https://bio.tools/?page=1&q=%22Sequence%20alignment%20analysis%22&sort=score

returns 99 hits - which considering it's a fuzzy search, is a

[2018-12-10 21:55] joncison commented on #36
PS.  huge credits to @bryan-brancotte for this tool - I use it all the time when doing EDAM development, it provides functionality simply no other browser provides

[2018-12-11 09:15] hansioan commented on #36
@joncison @hmenager
No search (quoted or unquoted) is an exact match search. At least not yet. I would suggest either using quoted search or searching by the uri.

[2018-12-11 09:20] hansioan commented on #36
The issue is that the entire search needs to be reworked. We either have issues being too strict or too loose in the search results.  I believe that this should be one of our biggest priorities going forward.

[2018-12-11 09:33] hansioan commented on #36
In the case of edam-browser, if you want to search by the concepts I would say search by quoted version of the uris (or ids) as they are described here:
https://biotools.readthedocs.io/en/latest/api_reference_dev.html#attributes

For `Sequence alignment analysis` exact match (over the API for now, will soon get it to html side) do:
https://bio.tools/api/t?operationID=%22operation_0258%22

[2018-12-11 09:45] joncison commented on #36
There's no way to do it in the UI currently ... which is a nit remis!  @hansioan we need to add "Operation" to the search box facet categories - which I think would then work ?

[2018-12-11 09:47] hansioan commented on #36
I will try to fix all of it this week. Will keep you posted.

[2018-12-11 09:59] hmenager commented on #36
thanks @hansioan

[2018-12-11 10:41] bryan-brancotte commented on #36
@joncison api url links have been updated, the amount of hits is now correct.
@hansioan for now the links I propose to browse to bio.tools are likes https://bio.tools/?operation=%22Sequence%20alignment%20analysis%22 but as soon as we can specify the ID such as something like https://bio.tools/?operationID=%22operation_0258%22 works it will be straight forward to change for us.

[2018-12-11 10:48] joncison commented on #36
thanks !  this is on the way, see https://github.com/bio-tools/biotoolsRegistry/issues/385

[2018-12-11 11:21] hansioan commented on #36
@hmenager
I fixed this on the dev server, when you have time could you please take a look so I can push it to production.

//operationID
https://dev.bio.tools/?operationID=%22operation_0258%22

//topicID
https://dev.bio.tools/?topicID=%22topic_3321%22

// dataTypeID works for both input and output data types
https://dev.bio.tools/?dataTypeID=%22data_3154%22

// dataFormatID works for both input an

[2018-12-11 11:51] hmenager commented on #36
it seems to work @hansioan . The only weird thing is that the filter displays as ":[topic ID] in the search bar:
![image](https://user-images.githubusercontent.com/1140736/49798807-81f8c300-fd43-11e8-870e-bc1d4e7bd0f4.png)

[2018-12-11 11:53] hansioan commented on #36
@hmenager
Yeah I know, but it will have to do for now as that is part of a bigger thing which we will probably have to deal with next year.
But if this is fine, I will push this to production and get back to you

[2018-12-11 12:00] hmenager commented on #36
yes, let's do this then! thanks a lot @hansioan for fixing this so quickly. Can you let us know (me and @bryan-brancotte) as soon as you push to production?

[2018-12-11 12:31] hansioan commented on #36
@hmenager
Done on the production server, example links below

//operationID
https://bio.tools/?operationID=%22operation_0258%22

//topicID
https://bio.tools/?topicID=%22topic_3321%22

// dataTypeID works for both input and output data types
https://bio.tools/?dataTypeID=%22data_3154%22

// dataFormatID works for both input and output data formats
https://bio.tools/?dataFormatID=%22format_1921%22

[2018-12-11 13:55] hansioan commented on #36
@bryan-brancotte
it should be working, try refreshing your cache

[2018-12-11 13:56] joncison commented on #36
yup good for me :)

[2020-03-22 15:57] veitveit opened #37 "Missing information in box "Details of term:""
Maybe this is an issue just for formats.

For instance, take
http://bioportal.bioontology.org/ontologies/EDAM/?p=classes&conceptid=http%3A%2F%2Fedamontology.org%2Fformat_3727

EDAMBrowser does not show most of the information.

[2020-03-23 08:54] bryan-brancotte commented on #37
Yes indeed many informations were missing, Fixed !

Details : we forgot using --extended when using [edam2json](https://github.com/edamontology/edam2json) and the comment field [was not exported](https://github.com/edamontology/edam2json/pull/5)

[2020-03-23 09:33] joncison commented on #37
Thanks for the super-fast action Bryan!

[2020-03-23 10:35] #37 closed

[2020-03-23 10:35] bryan-brancotte commented on #37
You are welcome

[2020-03-23 10:40] #36 closed

[2020-03-23 10:52] #33 closed

[2020-04-27 18:30] aizquier opened #38 "Double parent for entity"
Hello!
Currently at Montreal University we are developing an ontology for a catalogue of scientific equipment, and your browser seems very useful for the project. Following the schema you propose in https://github.com/IFB-ElixirFr/edam-browser/blob/master/ontology.schema.json we see that an entity can have only a parent, however checking the schema of the EDAM ontology it supports the notion of mu

[2020-04-28 10:13] bryan-brancotte commented on #38
Hello !

Thanks for your interest in the browser.

## Handling multiple parent

Indeed EDAM supports the notion of multiple parents, during the conversion from owl to json (thanks to https://github.com/edamontology/edam2json) a node with multiple parent is duplicated to be the child of each parent. Then in the browser when the user click on a node, instead of expanding the current node, we ask the

[2020-06-18 11:19] joncison opened #39 "EDAM 1.25 is out ... please update EDAM Browser"
Hi Bryan

Just letting you know that EDAM 1.25 is out ... pls. update EDAM Browser.

Thanks!

cc @hmenager

[2020-06-18 12:01] bryan-brancotte commented on #39
Hi @joncison

It has been done !

Cheers,

[2020-06-18 12:01] #39 closed

[2020-06-18 12:16] joncison commented on #39
wow ... thanks for super-fast action :)

[2020-06-18 12:17] bryan-brancotte commented on #39
Thanks :)
I should learn about GitHub Action to be even faster !

[2020-09-25 11:02] bryan-brancotte opened #40 "Add a button next to the url identifier to easily copy the actual edam url"
For now we can only copy the link to browse the EDAM element within the browser, not juste the link

From a need raised by @jvanheld and an idea of @thomasrosnet, add a button something like the copy link when cloning a repo in github
![Capture d’écran de 2020-09-25 12-59-57](https://user-images.githubusercontent.com/11556772/94259716-340c7980-ff2f-11ea-9183-4bace42b050f.png)

[2020-09-25 11:04] #38 closed

[2021-01-20 04:28] aizquier opened #41 "Add double parent for entity from the browser"
Following the question asked on issue [#38](https://github.com/edamontology/edam-browser/issues/38), where we asked for the possibility of defining multiple parents for an entity in the JSON ontology file, now we are interested to know if it is possible to do it  directly in the edam browser. Our interest is to allow users not familiar with JSON to perform such operation. Thanks!

[2021-01-20 08:05] bryan-brancotte commented on #41
Hi @aizquier

When clicking on the pencil or plus symboles on the top right, you access to a form which allows to define multiple parent. The edition of the json is not straitforward, the edition workflow for editing the ontology in edam browser goes through a github issue and manual edition by edam curator. Nevertheless you could add a new action to this edit form which would be to download the j

[2021-01-28 17:15] matuskalas commented on #20
A better option than caching etc. would be if bio.tools API returns those 2 numbers for an EDAM search. Future🚀 (@hansioan)

@bryan-brancotte @hmenager
Anyhow, I found a bug in these aggregative counts in the current version of the EDAM Browser. Could you please look at https://ifb-elixirfr.github.io/edam-browser/#operation_3198 and its 1 descendant? The direct numbers look correct, but the number

[2021-03-08 11:30] alaninmcr opened #42 "Links to bio.tools do not resolve"
The links in the browser to bio.tools do not work (for me)

[2021-03-08 14:52] matuskalas commented on #42
Indeed.

@hansioan would you please look at that? Did anything change in the bio.tools interface? _E.g._ https://bio.tools/?inputDataFormatID=%22format_2572%22 doesn't show anything else than the frontpage (while the URL isn't rewritten, which is also is weird).

[2021-03-08 19:34] hmenager commented on #42
This needs confirmation from @hansioan but the API has changed, the URL should be:
`https://bio.tools/t?inputID=%27format_2200%27`
(this is from the bio.tools docs here https://biotools.readthedocs.io/en/latest/api_reference.html#attributes)
Once confirmed, I guess the best solution is to change the API call.

[2021-03-09 10:53] #42 closed

[2021-03-09 11:47] alaninmcr commented on #42
Thanks I confirm it is now working

[2021-03-09 16:23] hansioan commented on #42
the `/t`was missing

so

`https://bio.tools/t?inputDataFormatID=%22format_2572%22`
is correct

[2021-03-12 10:17] alaninmcr opened #43 "Making URL link copy-able and correct"
The text of the URL shown for format_3620 is correct. However, the text cannot be copied and when clicked the URL is https://ifb-elixirfr.github.io/edam-browser/#http://edamontology.org/ - which is incorrect as the URL.

It is not clear how the correct URLs can be copied.

[2021-03-12 10:50] bryan-brancotte commented on #43
Hi, indeed copy pasting the "good" url is tricky :/ Issue #40 already cover the need of an easy way to copy the "good" url.

The text in the left part, the tree is not meant to be copy/paste-able, on the right part the `Term` can be copied easily so I am not sure we talk about the same thing.

[2021-03-12 10:58] alaninmcr commented on #43
I think my issue is the same as #40 Although the text "xslx" can be copied the correct URI cannot be copied.

Wouldn't a solution be to make the URI point to the correct URI rather than the browser one?

[2021-03-12 11:10] bryan-brancotte commented on #43
The idea is to quickly have a link to share for browsing inside the browser, also pointing to http://edamontology.org/format_3620 ends to another browser, the allow user to work in this browser (while proposing links to others browsers)

[2021-03-12 11:12] bryan-brancotte opened #44 "Bioportal link broken"
In https://edamontology.github.io/edam-browser/#format_3620 the link behind bioportal is http://bioportal.bioontology.org/ontologies/EDAM/?p=classes&conceptid=http%3A%2F%2Fedamontology.org%2Fformat_3620 whichis not ~~resolved~~ [Edit] found.

http://edamontology.org/format_3620 is resolved to https://bioportal.bioontology.org/ontologies/EDAM?p=classes&conceptid=format_3620

[2021-03-12 11:17] alaninmcr commented on #43
Could you not add a second line that links to http://edamontology.org/format_3620 ? I think it is confusing that the URI as shown does not actually link to the URI :-)

[2021-03-12 11:37] bryan-brancotte commented on #43
I do not want to add redundant information as the link http://edamontology.org/format_3620 is already present in "Links" section (while being for now broken cf #44 ) in the lower part "Community usage". The upper part is made for "inside" information so having an outgoing link is not the right place.

At the time it was built, I though every one knew the trick to copy text content of an href link,

[2021-03-12 11:40] bryan-brancotte commented on #40
Following a discution in #43 some user might be confused by a link that suggest it goes to  http://edamontology.org/format_3620 but in the end points to https://ifb-elixirfr.github.io/edam-browser/#format_3620

Maybe consider not having a link at all ? Only look like one ?

[2021-03-12 11:46] bryan-brancotte opened #45 "Incorrect aggregative counts for bio.tools"
Thanks to @matuskalas  in https://github.com/edamontology/edam-browser/issues/20#issuecomment-769239707 who spot that the count of  https://edamontology.github.io/edam-browser/#operation_3198 is wrong for bio.tools.

I think it might be related to the fact that the term is duplicated, and thus counted twice, but when looking at https://edamontology.github.io/edam-browser/#topic_0084 the descendant

[2021-03-12 15:44] matuskalas commented on #45
Indeed, thanks for creating a dedicated bug issue for it @bryan-brancotte ! 👍🏽

Are the numbers returned by the bio.tools API calls correct in these cases?

[2021-03-12 15:47] matuskalas commented on #40
A good point that this might be confusing 🤔

I'd suggest thinking and discussing what would be the best...
(personally no good idea now on Friday eve🤯)

[2021-03-12 15:51] bryan-brancotte commented on #40
I agree with you, Friday eve is not the best time to think about it

[2021-03-12 15:59] matuskalas commented on #40
Ok, just two tries (perhaps to be found a bad Friday-eve idea later, but anyway 😊):
 - Would it make sense with the URI being itself not clickable, but having 2 (or more) buttons next to it, incl. "Open here" & "Open in BioPortal"?
 - URI not clickable, no buttons (except maybe the copy button, but then with the URI itself (would it then also be useful for the short ID?)). There are links to other

[2021-03-12 16:05] bryan-brancotte commented on #40
I would vote for option 2, with a button like in the description of the issue, allowing to copy the uri, this button could then appear after each link related to an uri. Hereafter an example of where the uri-copy-button could be added, in red

![Capture d’écran de 2021-03-12 17-02-51](https://user-images.githubusercontent.com/11556772/110965929-02f4f980-8355-11eb-8ad9-d9af69d71d73.png)

[2021-03-12 16:07] matuskalas commented on #44
For me both
http://bioportal.bioontology.org/ontologies/EDAM/?p=classes&conceptid=http%3A%2F%2Fedamontology.org%2Fformat_3620 and
https://bioportal.bioontology.org/ontologies/EDAM?p=classes&conceptid=format_3620
work the same.
The first, longer form is the one used internally in BioPortal.

Have I misunderstood the issue then?

[2021-03-12 16:12] matuskalas commented on #40
Sounds good to me.

Perhaps the other concepts there don't need it though?

But I'd suggest considering adding a short ID line, which could then have the button too. _E.g._ `operation_2520`

The copying of both the long URI and the short ID would be useful when doing some annotation / editing some data.

[2021-03-12 16:13] bryan-brancotte commented on #44
The description was wrong, the first link is resolved, but the page tells me that

as `http%3A%2F%2Fedamontology.org%2F` is redundant with the fact that we are opening edam. This code is [3 years old](https://github.com/IFB-ElixirFr/edam-browser/blame/master/js/tree-edam-stand-alone.js#L344), so maybe the possibilité was removed, or a bug was introduced at the time

[2021-03-12 16:16] bryan-brancotte commented on #45
I think API responses are ok (quick test indicat it) it is the aggregation of the descendant made here.

If bio.tools API would return the count including the descendants, it would be both safer as unit tested, and faster ! ;)

[2021-03-26 13:40] matuskalas commented on #44
I still don't understand this issue 😕
However, it doesn't look like there is any big problem, so maybe it's not urgent... ?

[2021-03-26 13:58] hmenager opened #46 "Add information tooltips to the "Term details" panel"
Add the following information texts to the "Terms details" panel (HTML tooltips that appear when hovering an element) to help new users understand it better:

- [ ] "Term": "Preferred name for the concept"
- [ ] "Definition": "Short definition of the concept"
- [ ] "Comment": "Misc. information that may help understand the scope of the concept"
- [ ] "Exact synonyms": "Alternative term(s) that rep

[2021-03-26 14:42] matuskalas commented on #44
ok, works for me in Firefox on Windows, but not on Linux or Android

Please try if this works on your setups: https://bioportal.bioontology.org/ontologies/EDAM/?p=classes&conceptid=http://edamontology.org/format_3620

[2021-03-26 14:44] bryan-brancotte commented on #44
works with chrome+linux in french setup

[2021-03-26 14:47] hmenager opened #47 "correct the "duplicate parent" bug in the concept information panel"
For instance, the concept information panel lists GFF twice as the parent of the GFF2 concept (see https://edamontology.github.io/edam-browser/#format_1975). It should appear once.

[2021-03-26 15:42] hmenager opened #48 "Filter searchable concepts when suggesting new / updating existing concepts"
The current interface allows to select terms from the ontology to specify the relationships in a new concept / updated concept proposal.
However, the interface does not filter on concept type (e.g. it is possible to specify a format in the has_topic relationship).
This interface should filter:
- [ ] `same type` for the `Parent`
- [ ] `topic` for `has topic`
- [ ] `data` for `is format of`
- [ ] `d

[2021-03-26 15:52] hmenager opened #49 "Adjust the format of the new concept requests to follow the "official issue templates""
After suggesting a new concept with EDAM browser, the format of the generated issue should be similar to the following issue templates:
- For formats https://github.com/edamontology/edamontology/issues/new?assignees=&labels=&template=new-format.md
- For data https://github.com/edamontology/edamontology/issues/new?assignees=&labels=&template=new-data.md
- For identifiers https://github.com/edamonto

[2021-03-26 16:52] hmenager opened #50 "Display term relationships which are relevant in term creation form"
### Edit:

`Is Identifier Of` does not exist yet, and should be created, the others have been done in #174

### Original post

The relationships showed in the form should be only the ones for the type of concept considered.
Here's a table of which relationship should be showed, depending on the type of concept the user suggests.
(Please not `Is Identifier Of` does not exist yet, and should be crea

[2021-03-27 10:04] hmenager opened #52 "Provide a more explicit placeholder text for the search box"
It is not currently obvious that the search box located top right allows to search for concepts within EDAM:

![image](https://user-images.githubusercontent.com/1140736/112717195-53d72700-8eeb-11eb-87c3-ebadbc948527.png)

Replacing this text with something more explicit like "Search for concepts, type at least two letters here.". An additional magnifying glass icon (using bootstrap classes) might

[2021-03-29 19:16] pooja2299 commented on #52
Hi, I am Pooja, an outreachy applicant. I would like to work on this issue. @hmenager Can you plse assign this to me?

[2021-03-29 21:15] matuskalas commented on #52
Thank you @raashika03 for your pull request! @pooja2299 please feel free to suggest your solution!
We're very happy that you're interested in this project! 😸

[2021-03-29 21:16] matuskalas commented on #52
A question for more native English speakers: Is it better here to write **letters** or **characters**?
(or just say **... please start typing**?)

[2021-03-29 21:35] raashika03 commented on #52
character sounds more technical, so letters seems better cause everyone using the edam browser ain't from technical background.

[2021-03-29 21:51] raashika03 commented on #46
Hi @hmenager  I would like to work on this issue as part of Outreachy. Can this be assigned to me?

[2021-03-29 22:06] Marlene7963 commented on #52
Use of letters is a better choice. A user will find it easy to understand how to use the search box when they see "Type at least two letters" as opposed to "type at least two characters"
A user will often find "please start typing" to be politely confusing because they won't know what they are supposed to type as the placeholder does not clearly say the use of that search box.
The placeholder text

[2021-03-29 22:12] matuskalas commented on #52
Thanks a lot for the answers @Marlene7963 and @raashika03! 🥇

[2021-03-30 01:15] raashika03 commented on #46
![Screenshot from 2021-03-30 06-40-52](https://user-images.githubusercontent.com/45493793/112918777-558b2f80-9123-11eb-8461-6e5da141ffd7.png)
Is this what you're looking for @hmenager ?

[2021-03-30 06:00] HagerDakroury commented on #47
I'd like to work on that.

[2021-03-30 13:11] bryan-brancotte opened #57 "Accept ES6 code"
Considering that ES6 is well supported ([97.53%](https://caniuse.com/?search=ES6)), test should be adapted to accept code using ES6 notation such as in https://github.com/edamontology/edam-browser/pull/56/commits/287b4cdefb610ae48f62d4e3a70bfbb27283c196 :

Hints:
 * look at the commit of @HagerDakroury and understand why the test have failed while the code was sound
 * look at the execution of the

[2021-03-30 16:01] bryan-brancotte commented on #52
Hi, thanks both to you both !

@raashika03 I am merging your solution first as you submitted first

@Marlene7963 once #54 merged, could you resolve conflict so I can also merge you solution as it is an improvement (icon not overflowing

[2021-03-30 16:07] bryan-brancotte commented on #52
Fixed with #54 and  #55

[2021-03-30 16:07] #52 closed

[2021-03-30 16:07] pooja2299 commented on #52
@matuskalas Thank you for assigning me this issue. I was busy with my college classes in the morning.
My suggestion would be to write -"Search your concepts here (Enter atleast two letters)". Or what @raashika03 suggested is also fine.
As @bryan-brancotte has merged the above two solutions can I also submit my solution since it was assigned to me ?

[2021-03-30 16:14] bryan-brancotte commented on #52
Sorry @pooja2299 I missed that it was assigned, indeed please submit your solution

[2021-03-30 16:19] matuskalas commented on #52
Hi @pooja2299, no worry! Indeed please do, or if you want you can submit an improvement to what has been merged. Please also feel free to grab another issue (you can either solve it immediately or ask for getting it assigned) 😉

[2021-03-30 17:31] matuskalas commented on #46
Exactly @raashika03, looks good!

(😁+1 to the dark mode🌑)

[2021-03-30 18:43] raashika03 opened #60 "Dark theme for edam-browser"
This will look like this or better than this:
This's an image using dark reader, a third party application.
![Screenshot from 2021-03-31 00-03-45](https://user-images.githubusercontent.com/45493793/113038969-c3cc0280-91b4-11eb-944c-c7c183eb746a.png)
May be some option to change the theme can be provided on the main page like on github, to transition between light and dark mode
![Screenshot from 20

[2021-03-30 20:10] Marlene7963 commented on #57
Please assign me this task @bryan-brancotte please assign me this task

[2021-03-30 20:26] HagerDakroury commented on #60
Looks super cool!
With a better font for the tree map(it looks a bit unreadable in the picture), would be a decent feature!

[2021-03-30 20:33] hmenager commented on #49
Here is a hopefully more detailed and understandable description of this issue: whenever a user goes to [edam-browser](https://edamontology.github.io/edam-browser/), they can navigate the ontology and select a given concept, for instance ["Bioinformatics"](https://edamontology.github.io/edam-browser/#topic_0091).

![image](https://user-images.githubusercontent.com/1140736/113050574-477df300-91a5-1

[2021-03-30 20:38] hmenager commented on #60
Excellent @raashika03, @HagerDakroury, this would indeed be an excellent feature to add. And indeed, the current font for the tree does not fit with the dark theme.

[2021-03-30 20:39] raashika03 commented on #49
Now it's crystal clear, thanks @hmenager, will implement this.

[2021-03-30 20:40] hmenager commented on #60
@raashika03 I assigned this to you as you suggested it first, but feel free to refuse if you'd rather focus on something else :smile:

[2021-03-30 20:42] raashika03 commented on #60
ok sure @hmenager I'll check what can be done.

[2021-03-30 20:44] hmenager commented on #60
I also added @HagerDakroury if she'd like to collaborate with you (just discovered tonight you can have multiple assignees for an issue).

[2021-03-30 20:54] HagerDakroury commented on #48
Hi @hmenager, I'd love to start working on this! I think I stumbled upon where to start when I was exploring the code for another issue. I spent some time around it so I might as well continue :smiley:

[2021-03-30 21:59] hmenager commented on #48
Just assigned this to you @HagerDakroury. Feel free to give it a try!

[2021-03-31 00:33] Gladyzz opened #63 "Creating a more User Friendly Interface"
I went through the Edam ontology browser and discovered that a lot can be worked on in regards to it's User Interface and User experience.

[2021-03-31 00:46] Gladyzz commented on #63
First of all, as a user I didn't quite understand the actions in which the drop down contents on clicking "EDAM" were meant to perform. Being a first time user, I was confused and it took me a while to figure out that it's main aim was to aid the filtering of the data displayed.

This being said, I believe the filtering process of data can be improved for users in order to save time and improve th

[2021-03-31 01:12] Gladyzz commented on #63
Another issue I observed was the "+" button. I thought its main aim was to zoom and make the data displayed broader but I was wrong and discovered that it was to expand and display all branches of the tree.

A pop-up notification was displayed. However, I believe a better use of icon and pop up instruction can be implemented.

When I wanted to return to how the tree was displayed initially, I clic

[2021-03-31 01:25] Gladyzz commented on #63
Please I would be grateful if I am assigned to this task 🙏🏾

[2021-03-31 05:35] Marlene7963 commented on #60
Can I help work on this too?

[2021-03-31 06:45] bryan-brancotte commented on #63
Hi @Gladyzz, I agree with your arguments, go ahead, I've just assigned this issue to you

[2021-03-31 07:10] bryan-brancotte commented on #49
_for information, this issue is a partial duplicate of #27 _

[2021-03-31 07:38] Gladyzz commented on #63
@bryan-brancotte thanks 😇🙏🏾

[2021-03-31 08:48] bryan-brancotte opened #64 "BioWeb not usable"
bioweb cannot be called directly :
[code]

As a workaround we use cors-anywhere.herokuapp.com, it seems that the service is now limited (follow links in https://cors-anywhere.herokuapp.com/https://bioweb.pasteur.fr/api/packages?search=&topicId=topic_3315) and the api calls are blocked. We either have to find a working and more lasting solution, or disable bioweb.

@hmenager any hint on how to make

[2021-03-31 10:01] bryan-brancotte commented on #63
You are welcome :)

Just a quick precision, I wanted to "hide" the "expand all tree" button as expending can consume cpu ressources, but clearly in term of UX design it was a bad choice, and there is room for improvement.

[2021-03-31 10:32] Gladyzz commented on #63
@bryan-brancotte lol now I understand why it was like that. But I believe the improvement would actually go a great way in impacting the user experience. Since they come first.

Thanks for giving me the opportunity to make this improvement 😇.

[2021-03-31 13:31] bryan-brancotte commented on #50
Hi @Annysah , hi all

The edam-browser allows to browse, but also propose changes in the ontology, when proposing a change in a concept, or a new concept, multiple field are proposed in the edition form and some are not pertinent. This form can be accessed by clicking on the “edit” icons at the top-right corner of this right panel.

To understand a little more on how work the browser and the editi

[2021-03-31 14:05] #48 closed

[2021-03-31 18:31] pooja2299 commented on #52
Hi @matuskalas. Thanks a lot! I have added my solution file. Please have a look.
PS: I had some issue in my laptop, so had to reinstall linux. so couldn't reply yesterday.
I will start working on other issues as well .

[2021-03-31 21:03] raashika03 commented on #46
![Screenshot from 2021-04-01 02-23-17](https://user-images.githubusercontent.com/45493793/113210240-acaf1280-9291-11eb-82df-6a1caee063f6.png)
is this better because in this Community Usage doesn't appears like a link but still it does have tooltip.
Removed that link cause it doesn't direct anywhere. But in this there's no indication that there's some extra information about Community usage unless

[2021-04-01 00:27] raashika03 commented on #60
Hi @Marlene7963 most welcome :) I'm glad that you're willing to help on this. But I'm working on this so there are high chances of conflict generation if both of us will work together, cause I might be planning of some other ways to implement this theme while you'll think of some other thing. So, it's not possible to work simultaneously by commit submission. But I'm open to your suggestions of any

[2021-04-01 05:59] raashika03 commented on #60
![Screenshot from 2021-04-01 11-21-47](https://user-images.githubusercontent.com/45493793/113249583-8d89a280-92dc-11eb-91e3-3d0a5d8ed200.png)
@hmenager @matuskalas @bryan-brancotte Please have a look if this theme (overall) is fine, many changes are still left but I want to know if the main theme is ok so that I won't have to change everything again, I followed the theme idea of ubuntu 20.04 mainl

[2021-04-01 07:54] bryan-brancotte commented on #46
Hi @raashika03

_I'm jumping in the issue_

"Community usage" is not clickable, but still it can have a tooltip, so definitly I would go for https://github.com/edamontology/edam-browser/issues/46#issuecomment-811464120

For 1.25, the version by itself is not a link, it is the popo that contains a link. So 1.25 should not be rendered as a link.

You indicate that the _user_ [have to] _stays at that

[2021-04-01 09:05] HagerDakroury opened #68 "Moving zoom controls to the tree map"
All the controls for the tree are currently placed under it, which seems a little confusing. (Aside from the grouping issue mentioned here https://github.com/edamontology/edam-browser/issues/63#issuecomment-810679880 )

An idea would be to move a few to the tree like in maps. Maybe add (+,-) for mousepads that don't support zooming in and out?

![zoomnotonmap](https://user-images.githubusercontent

[2021-04-01 09:14] bryan-brancotte commented on #68
Hi @HagerDakroury

Thanks for creating a precise issue, your title is sharp and this are good ideas !

To just add another example from openstreetmap:
![Capture d’écran de 2021-04-01 11-11-35](https://user-images.githubusercontent.com/11556772/113271905-523aa400-92db-11eb-93a1-2ba208122267.png)

[2021-04-01 09:18] bryan-brancotte commented on #68
Solving it could be more work than what is generally needed for a "good first issue". Nevertheless I do not want to prevent anyone from trying to solve it, just keep in mind that it can consume time

[2021-04-01 09:25] HagerDakroury commented on #68
I believe so too. Plus I'm not sure if D3.js provides such an interface or it will need to be built from scratch

[2021-04-01 09:31] bryan-brancotte commented on #68
I do not know either is d3.js provide something, an alternative solution would be base on css and placing html buttons over the d3js-tree-container

[2021-04-01 11:19] raashika03 commented on #46
I meant that contains a pop up kind of thing but there's no indication of this on the main page, that just seems to a no. Unless you go on that itself.  So should anything be done to make that mark able that it contains a pop up. Will that be a good idea? I think no marking is also ok cause time of pop up is very fast. But just asking for another possibility 😁

Ha this sounds good to me. I'll expl

[2021-04-01 12:20] raashika03 opened #69 "Adding visual effect for tree map box"
adding a resize feature in the tree map box will be a good idea I think, cause while scrolling through the browser in smaller screens like in phone, tree map box acquires almost the whole screen leaving some spaces below and above it, and only those spaces can be used for scrolling which makes it difficult for the user to scroll down or up.
![IMG_20210401_173607](https://user-images.githubusercont

[2021-04-01 12:25] bryan-brancotte commented on #46
I could be useful to have a way to indicate that a text is not a link, but still has tool-tip that can help. I don't know if there is something standard to address such issue, but finding one could be useful !

[2021-04-01 12:42] raashika03 commented on #46
Yes!  It seems a good idea, Thank you. I'll dig deeper into this.

[2021-04-01 12:59] bryan-brancotte commented on #68
Hi again @HagerDakroury

As you proposed this feature, and already did simpler task (#47) would you be interested in solving this issue ? I have though on how to solve it and there are ways to solve it in reasonable time. Keep me posted if you want the issue.

Best

Bryan

[2021-04-01 13:36] HagerDakroury commented on #68
Hi @bryan-brancotte , yeah definitely! I'd like to work on this.

I'd need some time first to look for the best ways to do that design-wise and performance-wise.

Would also like to hear your thoughts and any guidance along the way!

[2021-04-01 13:36] raashika03 commented on #69
![Screenshot_2021-04-01-18-52-26-64](https://user-images.githubusercontent.com/45493793/113300375-7a49f780-931b-11eb-8bba-4993dc82c46f.png)
I just noticed that, This feature is really important for smaller screens, because when you zoom out the tree map once (using points at both those red areas Simulataneously, just by two fingers)
![IMG_20210401_190415](https://user-images.githubusercontent.com/

[2021-04-01 13:48] bryan-brancotte commented on #69
Hi @raashika03

I understand the frustration, that why I reduce the size of the tree to not 100% of the view height, so we can grab after the tree. Still, your point is valid as we do not know when dragging inside the tree that we are not dragging the page but the tree ... which doesn't move as not zoomed enough :/

I understand your solution but I think this issue could be solve in an other way:

[2021-04-01 14:09] bryan-brancotte commented on #68
Ok, @HagerDakroury I've assigned you the issue !

I'll give you some time to look on your side of how you would do it, then ping me when you want us to talk about it (in this issue).

Good luck :)

[2021-04-01 14:16] raashika03 commented on #69
But This's not so much useful for size of normal android screen.

But this visual effect is not available for Android phone size reason may be a limit on that effect to a particular size only.
![Screenshot_2021-04-01-19-36-34-35](https://user-images.githubusercontent.com/45493793/113306329-99e41e80-9321-11eb-8097-8bae7559b60f.png)
So visual effect generation for this size will solve this problem a

[2021-04-01 14:24] bryan-brancotte commented on #69
I wasn't very clear about the border effect I showed in the animation sorry, it is something that is for now not available but could be implemented by you, and would then be available on any screen/os. Implementing such effect would also allow you to dive into the code of the tree, and find where to add the listeners.

[2021-04-01 14:29] raashika03 commented on #69
OK I'll implement this.

What does listeners means here? Are you linking with screen reader thing(out of box:/)?

[2021-04-01 14:37] bryan-brancotte commented on #69
I did not understood your second question, but to answer the first I was talking about listener in the d3js code.

[2021-04-01 14:46] raashika03 commented on #69
I understood second one too by your answer to first.

Ok👍

[2021-04-01 18:11] Babsbarokah commented on #40
Hi,

The primary issue(problem) is to copy the correct URL link easily.

Possible solution raised is (i) to create a (copy link) button (ii) have a more button next to the URL(which is not clickable) (iii) have a copy button ( of the long URL) with a short ID (iv) have a copy button appears after each link

The end goal is to copy the correct link while making the process smooth and easy,(which ma

[2021-04-01 19:26] pooja2299 commented on #50
Hi @hmenager . I would like to work on this issue.

[2021-04-01 19:38] pooja2299 commented on #50
I would like to ask few questions:
1. Relationship to be showed for 'Topic' is not mentioned in the table above.
2. What needs to be done for other types of concepts that are not mentioned in the table ? Does it remain same as before.

[2021-04-01 22:18] matuskalas commented on #40
Thank you @Babsbarokah for your interest, please go ahead & all the best! 👍🏽

@bryan-brancotte @hmenager is there any clarification or conclusive suggestions we should provide? Can of course also be after we see first @Babsbarokah pull request...

[2021-04-01 22:26] matuskalas commented on #50
Thanks @Annysah and @pooja2299 for taking this task, it's a very important improvement which will be very useful for both users and EDAM maintainers! 👍🏽

[2021-04-01 22:34] matuskalas commented on #69
Thank you sooo much @raashika03 & @bryan-brancotte for diving into the details of this usability issue! 🚀

As @bryan-brancotte suggested, it will indeed be very nice if you, @raashika03 work on the implementation with help of @bryan-brancotte's suggestions. I'm assigning it and looking forward!

[2021-04-02 00:23] matuskalas commented on #50
Indeed, _**Topic**_ has no relations. 😉

The other types are mentioned in the table (_**Operation**_, _**Data**_, _**Identifier**_, _**Format**_).

Does this answer your question @pooja2299?

[2021-04-02 01:34] Babsbarokah commented on #40
Great, thanks.

I'd get to it and keep the team informed.

[2021-04-02 03:28] raashika03 commented on #60
Hi @hmenager @bryan-brancotte @matuskalas! this's the link showing the complete dark theme for all the pages of the edam-browser. Please check it out.
[video](https://youtu.be/ZHPQjfeG1ao)
Since, file size is large so sharing it via youtube :p

There were things which I couldn't change, which are controlled in default by browsers (chrome, mozilla...) I checked for their code but I couldn't find th

[2021-04-02 11:09] raashika03 opened #70 "Adding tips for Clearing cache"
While I was working with index.html and index.css, many times my most recent content didn't get reflected locally.
Was not able to figure out the reason for the same for two days, that was frustrating
as like I mentioned here #46 in the 5th comment.

So, adding this thing somewhere in some file (may be in contribution.md), may be helpful for contributors because most of the people simply reloads u

[2021-04-02 14:18] bryan-brancotte commented on #60
Hi @raashika03

Great work ! Hereafter some remarks:

 * Indeed some elements are browser dependent and customizing it is a "little" tricky and we can leave it as is instead.
 * the edam-browser does store information, I let you find where (you'll have to dive into the js code).
 * This issue was label good first as it is "only" css, but indeed theme-ing can be long.
 * In android we can set the o

[2021-04-02 14:21] bryan-brancotte commented on #64
changed the server with d519379e48d2145c0a9a0e90920d63235db73440, still this server have to be properly configured

[2021-04-02 15:37] raashika03 commented on #60
Does this mean only 1 button at the main page will be needed to change the theme and on refresh also that theme state will not change itself cause edm stores the state of an object? Did I understand things correctly @bryan-brancotte

Not for all the versions
Dark theme is available in Android 10 (API level 29) and higher.
We can't set the theme to dark (I'm taking about complete dark theme not par

[2021-04-02 16:13] HagerDakroury commented on #68
So, @bryan-brancotte, After struggling for a while with d3 layouts, looks like they're pretty much standalone with no inherited controls (confirmed by looking at tree-reusable-d3.js code) I was looking for something like what most maps' APIs provide, but arrived at a dead-end here.

It's also not worth it to look for other layouts as the current tree layout does the job perfectly.

So, looks like

[2021-04-02 16:34] HagerDakroury commented on #60
Hi @raashika03 , first of all amazing job! I saw the video and the new theme looks perfect! 😮

I'll jump in real quick here since I'm a co-assignee in this issue 😄

There are cookies that are set once the main window is loaded, that's why whenever you refresh you get the same branch/term you were viewing the last time and NOT the main page. (here's for example what I land on now when I open the br

[2021-04-02 17:11] pooja2299 commented on #50
Yes @matuskalas . Thanks :+1:

[2021-04-02 17:26] raashika03 commented on #60
I understood well thank you Hager <3 I'll check for its implementation :)

[2021-04-02 19:30] bryan-brancotte commented on #68
Hi @HagerDakroury

Good analysis :smiley: , adding button inside the d3.js code is not easy. Note that you will find a (disabled) pop up inside the tree that is html floating inside, but I think that we should keep it as last option after every other have failed.

I agree with you that we should group them with the tree, the example at the beginning are perfect

In my mind I thought that putting a

[2021-04-02 19:33] bryan-brancotte commented on #70
I think the reason is that html/css file were opened directly by the browser (file://....), while here the index.html is served by a webserver (http://...). I think that caching resources is disabled when loading local files, while fortunately css/js files are cached when querying webserver.

[2021-04-02 19:40] bryan-brancotte commented on #60
Thanks @HagerDakroury for your answer.

@raashika03 i know that not all android have it :disappointed: it is so usefull ! For the preference, I was talking of https://developer.mozilla.org/fr/docs/Web/CSS/@media/prefers-color-scheme anyway, it is a good thing to allow the user to change the theme, I hope both can be combined

[2021-04-02 19:48] HagerDakroury commented on #68
Awesome!

Thanks for the heads-up about the button code!

I'll start with positioning the exiting buttons and once I'm satisfied with a style, I'll start looking into implementing the zooming in/out.

Will keep you posted here along the way.

[2021-04-02 20:27] raashika03 commented on #70
@bryan-brancotte how do you solve this problem in general? Do you disable cache somehow? (many ways are there I looked) or just you CTRL+F5 solution every time. Just asking for easeness for next time.
I'm closing this issue cause this seems to be a general problem. I was unaware :(

[2021-04-02 20:39] raashika03 commented on #60
Thanks for sharing, I wasn't aware of this :)

[2021-04-02 21:18] raashika03 opened #72 "Pop-up button for tree-map box"
for screen smaller than a particular size for this [problem](https://github.com/edamontology/edam-browser/issues/69#issuecomment-811913188) discussed there.

I'm working on this. Just created another issue (for easeness for discussion in future) from #69 cause that concluded some separate enhancement feature.

[2021-04-03 03:08] raashika03 commented on #49
@hmenager @bryan-brancotte @matuskalas
I thought of an implementation. I coded this in c++ for easier explanation to decrease the length of this comment. Check it out once and see if I'm heading in the right direction. If this goes well then just I need to convert this into js.

string arr[5]=["format","data","identifier","operation","topic"];
//This matrix kind structure will store the value of a

[2021-04-03 03:37] raashika03 opened #75 "Adding clickable Edam logo"
How about adding clickable Edam logo
![7922809](https://user-images.githubusercontent.com/45493793/113466619-dbc4b000-945a-11eb-9667-90386c416500.png)

Something like this:
This format looks better to me than the present format.
![Screenshot_2021-04-03-09-38-40-36](https://user-images.githubusercontent.com/45493793/113467442-a4f19880-9460-11eb-8852-d5ceffbef43d.png)

![IMG_20210403_085632](https:/

[2021-04-03 03:53] raashika03 opened #76 "Adding "jump to bottom" option"
How about adding "jump to bottom" option for smaller screens like its on github
![IMG_20210403_091338](https://user-images.githubusercontent.com/45493793/113466929-3828cf00-945d-11eb-92b0-6c45d84a75b3.jpg)
It'll help in reducing that scrolling issue. See like if a person wants to access the data in the term table only but since scrolling is difficult for smaller screens so they might face some dif

[2021-04-03 12:11] raashika03 opened #77 "Configurable communi logos for browser not ontology"
I agree with @hmenager, that it'll be good to merge the current version now 👍🏽

And creating separate issues for:
- making this configurable in https://github.com/edamontology/edamontology/blob/main/EDAM_dev.owl
- extending with more links/info (_e.g._ license, ...)
- putting it into some kind of _About_ menu|"splashscreen" (perhaps in addition to having these main logoi - gh, gitter, twitter - so

[2021-04-03 12:37] raashika03 commented on #77
I'll look for ways to implement this for sure @matuskalas @hmenager.
Documenting it here in the form of issue, so that I won't miss it anyhow after that initial PR will be merged :D

[2021-04-03 21:57] raashika03 commented on #70
Reopening this, cause I think documenting such kind of general issues somewhere in a separate document named as "general question and their answers" that will contain answer to general questions asked by contributors and the issues which they generally face while contributing to edamontology.
This's a thing which might be faced by many newcomers, but finding out the reason for the same may be tric

[2021-04-04 17:04] pooja2299 opened #79 "Tree cropped when zooming in"
It is difficult to navigate when more than one tree is expanded.
![image](https://user-images.githubusercontent.com/44069818/113514202-ebdbad00-958a-11eb-93f0-0f41f12f04d7.png)

Also, when trying to scroll to other branches, the image gets cropped when zoomed in.
Steps to reproduce the problem :
Go to
![image](https://user-images.githubusercontent.com/44069818/113515051-bc7b6f00-958f-11eb-9b08-375

[2021-04-04 17:21] raashika03 commented on #79
This's much needed :100: @pooja2299
BTW @mentors why browser doesn't sets a scrollbar itself here? Generally they do set themselves when content is more than the visible screen. Is this feature purposely hidden here?

[2021-04-04 17:43] pooja2299 commented on #79
Don't know. No idea :sweat_smile:

[2021-04-04 19:47] raashika03 commented on #79
I got the answer overflow property defined in CSS is not widely implemented yet and that tree map box is an svg element and for svg I think it has some part yet left to be implemented to set scrollbar for overflow by itself [Source](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/overflow), So you can add manually for that :)

Hey @pooja2299 the image is movable but on double clicking (

[2021-04-04 19:49] pooja2299 opened #80 "Proposing redesign of logo for EDAM Browser"
I would like to suggest an improved version of edam logo for edam-browser. I have tried to make one given below.

![image](https://user-images.githubusercontent.com/44069818/113519705-91067d80-95ab-11eb-8383-c90c09446963.png)

Need your feedback @mentors
PS: this is the initial version of it. Changes and suggestions are welcomed.

[2021-04-04 19:58] pooja2299 commented on #79
Thanks @raashika03 for the solution.

Yes it is movable but some of the right and left portion of the image can not be scrolled further after certain point.
For example, when I zoomed this in mobile view and scrolled horizontally , it was not scrolling till the edam node in the leftmost of the tree.
![WhatsApp Image 2021-04-04 at 21 42 17](https://user-images.githubusercontent.com/44069818/1135200

[2021-04-04 20:04] raashika03 commented on #80
Changing the colour contrast to little darker will be more appealing. Design is really cool. :tada: original is not so nice :100:
May be changing alignment of DAM (making them like E will look better (all synchronized in a flow in a similar direction)). And adding shadow to them too like E but just a single(of very light colour like second shadow in E) not two shadows and the font type same as E w

[2021-04-04 20:09] raashika03 commented on #79
Yes I just noticed, so adding scroll bar is the only viable solution it seems :) :100:

[2021-04-04 20:17] pooja2299 commented on #80
Thank you @raashika03 for your feedback. :+1: :smile:

[2021-04-05 03:32] secrashi opened #81 "Aligning the box to make the content fully visible."
**Problem:** On hovering over the number and looking for associated elements, the content is not fully visible.
**Proposed Solution:** On hovering, the box opens either on the left side or right side, where there's enough space for the content.
_P.S. This problem occurs when we resize the tab in desktop view!_

![IMG_20210405_084316](https://user-images.githubusercontent.com/56053777/113534008-0fc

[2021-04-05 04:26] secrashi opened #82 "Enhancing the UI of URI."
**Problem:** The link's UI looks distorted when the tab is resized.

![IMG_20210405_094655](https://user-images.githubusercontent.com/56053777/113536894-d1d6b480-95f4-11eb-9e5c-874244adc883.jpg)

**Proposed Solution:** Instead of continuing the link to the next line, We can make the extra characters hide in the blue box itself, and add a scroll bar at the bottom of the blue box, so we can scroll t

[2021-04-05 04:46] secrashi opened #83 "Enhancement of UI of dropdown menu!"
Current: In the dropdown menu, on hovering over the items of the list, the text cursor shows up.

![IMG_20210405_100725](https://user-images.githubusercontent.com/56053777/113538034-d9e42380-95f7-11eb-8959-a950bf2c0352.jpg)

Enhancement: Instead of a text cursor, a pointer would enhance its UI.

[2021-04-05 04:57] raashika03 commented on #83
This sounds good and reasonable, you should directly create a PR for this, this will be merged by the mentors without any suggestions ig.

[2021-04-05 04:58] secrashi opened #84 "Making the UI of subsection in details component more responsive!"
**Problem:** The characters of the text split when the tab is resized.

![IMG_20210405_102015](https://user-images.githubusercontent.com/56053777/113538577-3136c380-95f9-11eb-810d-fc7c0830be91.jpg)

**Proposed Solution:** On resizing, words get split instead of characters. For example, instead of _devel_ in one line and _opment_ in the other, the whole world development gets shifted to another lin

[2021-04-05 05:00] secrashi commented on #83
Yeah, sure!

[2021-04-05 05:11] raashika03 commented on #82
[Just a suggestion] This condition occurs for a very small range of screen for all the types(edam, data, format.... I checked for all), so if you're going to create a scroll bar for the same then remember to make them visible in only that range (this happens if chrome creates scroll bar itself, but since you're gonna add up so you'll have to take care of this) other wise this will unnecessarily ad

[2021-04-05 05:22] raashika03 commented on #84
This's a pretty good idea, same suggestion as #83 (to create PR directly). Create issues only for those features for which you think that might get so many suggestions or won't be merged either. Otherwise creating PR directly fastens up the process of merging and solving issues [saying this from my experience :smile:  ].

[2021-04-05 05:46] raashika03 commented on #81
Same suggestion as #83 (because this's something needed and mentors won't disapprove this) just to add up my views: this tooltip content appears like this by default ig so you'll have to look for a way to change for all the elements which does have tooltip in the details term box but this varies with each type (edam, data, format, operation, topic...) so may be, you'll have to do a little more wor

[2021-04-05 05:59] secrashi commented on #84
Ohh, I made an issue first to keep a track of all the changes I was proposing but I'll take care of this from next time. Thanks for letting me know!

[2021-04-05 06:04] secrashi commented on #82
Yeah, I noticed that It's only for a small range. I thought of adding the scroll bar so that a user can easily copy it, but recently I checked that someone has added an issue of adding a copy button next to URI. If that happens there is no need for a scroll bar and we can simply hide the content instead of continuing it on the next line or using a scroll bar. That is set overflow property to hidde

[2021-04-05 06:06] secrashi commented on #81
Yes, I'm aware of this. Still, thanks for taking out the time to let me know this! Also, I'll remember to add PR's directly for these types of issues.

[2021-04-05 06:18] raashika03 commented on #82
I think now @mentors suggestions is needed that whether they would like have that copy button(this's better from design perspective) (someone is already working on this, so may be they'll go with this) or scroll bar kind of thing.
Just asking, will hiding enable to copy the whole link? If it won't let, then there's no point of hiding, better to leave this as it's (in continuation on next line).

[2021-04-05 11:12] drashti171299 commented on #46
this issue is assigned to someone @bryan-brancotte ?

[2021-04-05 11:26] raashika03 commented on #46
Yes drishti I'm on this. I'll submit a pr in few days. I've completed around 70% task

[2021-04-05 11:28] drashti171299 commented on #46
okk no problem @raashika03

[2021-04-05 12:15] matuskalas commented on #46
@raashika03 would you mind noting which bits are those that you haven't worked on yet, and let @drashti171299 do those?
(you could copy&paste the undone ones from the top of the issue into a comment down here)

[2021-04-05 12:19] drashti171299 commented on #44
@bryan-brancotte @matuskalas  I am not getting what to do in this issue. can you tell me a bit more about it?

[2021-04-05 12:30] matuskalas commented on #82
Thanks a lot @secrashi & @raashika03 for diving into this issue, documenting it so well, and discussing the possible solutions!!! 👍🏽
I'd say:
 - Indeed, we want a copy-URI button there (#40)
 - I fully agree with you that the wrapped URI is not pretty
 - But maybe it is still less bad than making the whole panel scrollable? (all the other fields seem to wrap nicely)
 - If you insist it's not good

[2021-04-05 12:36] matuskalas commented on #81
Awesome @secrashi if you want to work on this!!! And well spotted! 👍🏽

[2021-04-05 12:48] raashika03 commented on #46
Yes of course @matuskalas, In the below image whatever isn't showing like a link is yet left to be done. Actually I've coded for rest also(which are in incomplete state) but not completely yet so that's in the middle state :smile: my exams are going on from 4th to 7th april, so until that time I won't be able to dedicate so much time to little tedious issues. And those which I left above in incomp

[2021-04-05 12:50] matuskalas commented on #44
@drashti171299 could you please test which of the following works on your setup (and let us also know your operating system and web browser)?
- http://bioportal.bioontology.org/ontologies/EDAM/?p=classes&conceptid=http%3A%2F%2Fedamontology.org%2Fformat_3620
- https://bioportal.bioontology.org/ontologies/EDAM?p=classes&conceptid=format_3620
- https://bioportal.bioontology.org/ontologies/EDAM/?p=cla

[2021-04-05 12:59] matuskalas commented on #46
Thank you so much @raashika03! 🙏🏽 Please take some rest from EDAM until the 8th, definitely no need to apologise! 😸 Good luck with your exams! 🤞🏽

@drashti171299 would you like to fix the remaining ones, or a subset of them? I'm assigning you to this issue too 😉
The ones left are:
- [ ] "Definition": "Short definition of the concept"
- [ ] "Comment": "Misc. information that may help understand the

[2021-04-05 13:04] drashti171299 commented on #44
I am working with windows OS and Chrome browser

[2021-04-05 13:14] drashti171299 commented on #44
from these links, first one is not working for me. 2nd and 3rd are working

[2021-04-05 16:14] drashti171299 commented on #46
yes @matuskalas  I would give my best to work on this issue.

[2021-04-06 02:04] secrashi commented on #82
Thanks for pointing them out @matuskalas. Instead of compromising the visuals of the website, we can do this:
- Make the word URI on the left-side clickable. i.e. we can reach the link by clicking on word URI.
- Instead of writing down the link on the right side, we can just make a copy URI button there.
Pros:
- It will make the UI look good.
- UX will improve.
Cons:
- Full link will not be visibl

[2021-04-06 02:12] secrashi commented on #81
Thank you!

[2021-04-06 12:56] HagerDakroury commented on #68
Hi @bryan-brancotte, I made a PR with an initial draft. I mentioned also that we may need to change the buttons labels to have a nicer overall style.
I wasn't sure whether to label the PR as WIP or not. It technically works but may need further adjusting. So, let me know!

[2021-04-06 13:04] HagerDakroury opened #90 "Change tree nodes cursor shape"
**Slightly Related to** #83

**Issue Description:**
Whenever the cursor moves to the text of the nodes, a text cursor appears (even though the text is not selectable). The expected behaviour of that cursor is selecting the text but the current behaviour is selecting and expanding the nodes

![cursorTree](https://user-images.githubusercontent.com/37930475/113714851-22c7d500-96e9-11eb-8643-55b750f49

[2021-04-06 14:06] HagerDakroury commented on #45
Hi, can I get some guidance for testing this?

As I understood, the count should be the current term count + the descendants' counts.

The error offset for [#operation_3198](https://edamontology.github.io/edam-browser/#operation_3198) is almost double the current value. But for [#topic_0084](https://edamontology.github.io/edam-browser/#topic_0084) it's ~100. So the duplication being the issue is r

[2021-04-06 14:24] matuskalas commented on #90
I fully agree! Although I'm not so sure which of the 2 options is better, would like to hear from @bryan-brancotte and @hmenager

One option I'm considering is:
- Text selection enabled on the text
- Expansion/collapsing near the "circle" node (that area would have to be big enough), or also on the text if it's just a click without dragging/_etc._
- I personally like the graphical appearance of th

[2021-04-06 17:06] matuskalas commented on #45
Thank you a billion times @HagerDakroury for looking into this issue! 👍🏽🙏🏽

I found an example with smaller numbers: https://edamontology.github.io/edam-browser/#data_2977. For **_as output_**: 20 times as is, 80 times with 3 "descendants" (wrong), the 3 sub-concepts have 15, 13, and 6. So the sum should have been <=54

[2021-04-06 17:10] matuskalas commented on #45
Another: https://edamontology.github.io/edam-browser/#format_1974
1 time _**as output**_, 66 times with 1 "descendant", in fact the only sub-concept is _not used_ 🤔

[2021-04-06 17:46] HagerDakroury commented on #45
That definitely seems pretty random. Even if sub-concepts are counted twice (duplicate). The maths doesn't add up!

hmm, I'm not getting 66 times? Here's what comes up
![image](https://user-images.githubusercontent.com/37930475/113755080-2fabef00-9710-11eb-8e89-6709abfa7e21.png)

Actually, that example should have _not used as input  (1) - 1 times as output (1)_ . So maybe the sub-concept usage as

[2021-04-07 04:18] secrashi opened #91 "Ways to cover the excessive empty space on the website!"
**Problem:** The blank space on the left side increases even further with an increase in previously seen terms.  It makes the website look Empty.

![WhatsApp Image 2021-04-06 at 8 00 31 AM](https://user-images.githubusercontent.com/56053777/113808670-23fa1000-9784-11eb-9e12-dfffbfc2bc3b.jpeg)

**Possible Solutions:**

1. We can move the previously seen section from the right side to the left side.

[2021-04-07 13:15] drashti171299 commented on #46
@matuskalas  do we need to provide any link to this 4 remaining tags?

[2021-04-07 13:36] raashika03 commented on #46
Yes @drashti171299 but not only to 4,  7 are left @matuskalas mentioned 7above

[2021-04-07 13:37] drashti171299 commented on #46
I have added tooltips to all 7.

[2021-04-07 13:37] drashti171299 commented on #46
just asking about links that which links should I provide.

[2021-04-07 13:47] raashika03 commented on #46
Can you show your result once? No link is needed to be added anywhere only tooltips should be added

[2021-04-07 14:00] drashti171299 commented on #46
okay then it is done.
![ec09669f-dac0-44ce-9977-182231332071](https://user-images.githubusercontent.com/52856536/113878889-a2cc6880-97d7-11eb-9d57-b1448eadf475.jpeg)

[2021-04-07 14:01] raashika03 commented on #46
Yes it's done you can create a pr for the same

[2021-04-07 14:38] matuskalas commented on #45
Indeed, now I'm getting the same as, with 2. Maybe I mixed it up yesterday.

In any case, I found out where the numbers come from! 🙌🏽
They are just the actual number for the given concept, multiplied by the number of its sub-concepts +1 (the concept itself). Nice to see _e.g._ here:
https://edamontology.github.io/edam-browser/#topic_3678
https://edamontology.github.io/edam-browser/#format_1975
eve

[2021-04-07 15:38] HagerDakroury commented on #45
Impressive! 😃 I spent way too much time trying to crack the maths here. Can't believe it's that simple!

Absolutely! I'd love to dig deep here. It'd be an interesting challenge.

It'd really depend on how the tree is modeled and what's the data pulled from bio.tools right now (I haven't examined this part's code in detail yet)

I guess the 2 points to be figured out:

1) Are the children's counts

[2021-04-07 18:05] matuskalas commented on #45
Super cool, I like your attitude @HagerDakroury 🙌🏽🙌🏽🙌🏽
Awesome that you want to take it up as a challenge!! 😉

Perfect! Million thanks & all best 🤞🏽

[2021-04-07 18:06] kellydoleo commented on #44
Out of the below links, the first one doesn't work for me.  It states "The page you are looking for wasn't found. Please try again." The second and third do work. I'm using Chrome on a macOS.

- http://bioportal.bioontology.org/ontologies/EDAM/?p=classes&conceptid=http%3A%2F%2Fedamontology.org%2Fformat_3620
- https://bioportal.bioontology.org/ontologies/EDAM?p=classes&conceptid=format_3620
- https

[2021-04-08 01:18] Babsbarokah commented on #40
Here is an update on the Copy-able URL button

Link-
https://www.figma.com/proto/dTgV6HFPybn767Q7Mnm6sz/EDAM-ontology?node-id=8%3A4&scaling=contain&page-id=0%3A1 or
https://www.figma.com/file/dTgV6HFPybn767Q7Mnm6sz/EDAM-ontology?node-id=0%3A1

Kindly let me know your feedback on this as I proceed to the wireframing and prototyping stage, thanks.

#82 was also addressed.

[2021-04-08 10:00] bryan-brancotte commented on #82
Hi @secrashi

Thanks for your interest, indeed the URI rendering as it is now is not perfect, far from it ! That is part of the point of #40, and you brought a new aspect for this issue. I recommend that we continu this discussion in #40 in order to have the best ideas on all aspect (clickable AND render) in one issue, and thus closing it as a partial duplicate of #40.

[2021-04-08 10:00] #82 closed

[2021-04-08 10:00] bryan-brancotte commented on #40
Hi @Babsbarokah

You indeed correctly formalize the issue, I just hope you did not used to much time in doing such presentation. Your sketch look like what was suggested before, I thus understand that you agree with the design, so I recommend you to go ahead, develop and start a PR.

As you point out, #82 would be solved by completing this issue.

[2021-04-08 10:03] bryan-brancotte commented on #40
_#82 contains the start of a discussion of readability of the URI. Solution for this issue should thus address both usability and readability of the URI_

[2021-04-08 10:28] bryan-brancotte commented on #81
Hi @secrashi

Thanks for pointing it out :+1:

Here are some direction :
 * understand how this box appears, what is its name. Hint : we use bootstrap 3
 * understand how it could be place elsewhere
 * find in the js code where this box is build, and update the code.

This issue is not an easy one, I would say medium, but still It is open for solving.

[2021-04-08 10:34] bryan-brancotte commented on #79
Hi @pooja2299

Indeed the view can be improved, it is not pleasant to have the tree cropped. Scrollbar is not the only viable solution.

To work on this issue one should first explore the usage of the tree and the pan and zoom, and see if any boundary are set and if they can be improved. Scrollbar could be added, but one should first evaluate if current solution can be fixed before adding new func

[2021-04-08 10:54] #68 closed

[2021-04-08 10:54] bryan-brancotte commented on #68
:clap:

[2021-04-08 11:29] HagerDakroury commented on #91
Hi @secrashi,

I'm just dropping by to make an additional suggestion.

As a quick fix, the tree container can expand vertically to fill up the white space (instead of it having a fixed size). That wouldn't require introducing a new feature and also would allow viewing more of the tree (which is a good thing!).

[2021-04-08 12:15] Babsbarokah commented on #40
The prototyped link I provided is in line with the design phase for clear, proper documentation and future reference/modifications.

I used available suggestions to build on the solution with some improvements.

I'd go ahead with this and reach out with progress and perhaps need help.

Thank you.

[2021-04-08 12:59] pooja2299 commented on #79
Ok @bryan-brancotte . Will look into it :+1:

[2021-04-08 13:35] bryan-brancotte commented on #45
Hi @HagerDakroury @matuskalas

Thanks to both of you for diving in this issue, and thanks even more for finding example that helped me to understand what was going on. I added comments with 5275c73. The issue was that `get_api_url(queue[j].text)` was called with the value of an unset attribut in https://github.com/edamontology/edam-browser/blame/5275c73472659b67ebccfe05277a63044328adaa/js/bio.tool

[2021-04-08 13:49] HagerDakroury commented on #45
Awesome! 👏  It's such a relief that it only took one line to fix that 😃

Also, thanks for adding the comments! That made navigating the code so much easier.

[2021-04-08 13:51] matuskalas commented on #45
Nice, thanks so much @bryan-brancotte for fixing this!! 🙌🏽

Is it then the 1st option from

?

Then it would be nice to slightly update the tooltip to include the "upto", wouldn't it?

And @HagerDakroury @bryan-brancotte @hmenager, do you think that a more sophisticated solution would be too slow or too complicated? I'd personally say that if it should be potentially slow or potentially a complex

[2021-04-08 13:53] bryan-brancotte commented on #45
_re-opening as some question are unanswered_

[2021-04-08 14:17] bryan-brancotte commented on #45
Thanks @matuskalas, and also for remininding me that for now it still count duplicated child :/

I would definitely go for option 2: show to correct sum. Note that we do not count the descendant when looking at node of depth 0 or 1, i.e: EDAM and the four root node.

I pushed fa66e07 where duplicated node are not counted twice

[2021-04-08 14:31] HagerDakroury commented on #45
Removing duplicates is doable, I think fa66e07 took care of it and now it's the correct sum.

I'd say it's slow but not unnecessarily slow 😄

Maybe the way to make this faster is by somehow saving the values returned for future reuse or doing the requests beforehand. But the performance is currently not that bad IMO. So, restructuring the calls is not a priority? Since they work perfectly fine now

[2021-04-08 15:04] matuskalas commented on #45
Very fast @bryan-brancotte, respect! 🥇

It definitely looks like running fast & with some "caching" ☺

Do I understand it right that now it takes into account when the same sub-concept appears multiple times in the sub-"tree"?

There's another source of duplication I meant, between entries, and that one is perhaps the slow|complex one to solve?
Looking at the 2 sub-concepts of https://edamontology

[2021-04-08 15:11] bryan-brancotte commented on #45
Prior to https://github.com/edamontology/edam-browser/issues/45#issuecomment-815898424

Indeed fa66e07 toke care of it, but might not be optimal on the way to sum the dictionary. I also think performance are not that bad, but there are still way of improvement :
 * make bio.tools do the works :wink: @matuskalas
 * improve the dictionary sum
 * do not call the api twice when a node is duplicated as

[2021-04-08 15:14] bryan-brancotte commented on #45
Just to write it somewhere, we store the information of whether a node is duplicated or not in `node.duplicate`, it is set [here](https://github.com/edamontology/edam-browser/blob/main/js/tree-reusable-d3.js#L401-L406)

[2021-04-08 15:35] HagerDakroury commented on #45
Ohh, well-spotted! and definitely makes things harder :(

Is this a common occurrence? (a node being duplicated). If not and since @matuskalas meant another duplication, it may not be a priority to optimize that.

Definitely, it may be easy code-wise but a huge bump in the time complexity.

But if the accuracy is currently vital for your users, then an upto indication may be necessary after all.

[2021-04-08 15:40] bryan-brancotte commented on #44
Hi @kellydoleo @drashti171299

_Here are some explanation on this issue_

The browser is building links to bioportal, but it seems that url parameters are html encoded (`conceptid=http://edamontology.org/format_3620` -> `conceptid=http%3A%2F%2Fedamontology.org%2Fformat_3620`), and then re-encoded (-> `conceptid=http%253A%252F%252Fedamontology.org%252Fformat_3620`)  by the browser/os. The goal here

[2021-04-08 21:34] kellydoleo commented on #44
Hi @bryan-brancotte I was able to figure out the issue I think. Instead of using the identifier which already encodes http://edamontology.org/format_3620, I used the URI. So the URL for bioportal links would now be "https://bioportal.bioontology.org/ontologies/EDAM/?p=classes&conceptid="+uri+". Can I have this issue assigned to me? Then I can submit a pull request after committing the changes.

[2021-04-08 23:41] raashika03 commented on #72
(https://github.com/edamontology/edam-browser/issues/69#issuecomment-811921387) Problem in PS of this comment

Two solution:

1)What if we use some sticky element as the button to skip the tree map box (or to resize it), when tree covers the whole view area. This sticky element will appear only if the tree map box covers the whole view area.
2) Create a sticky vertical scrollbar for the whole page

[2021-04-08 23:45] raashika03 commented on #76
Closing
It'll get solved in #72

[2021-04-08 23:45] #76 closed

[2021-04-09 00:03] raashika03 commented on #49
Or should I use 16 for no. of attributes for Format type as defined in the [new format](https://github.com/edamontology/edamontology/issues/new?assignees=&labels=&template=new-format.md) so that I don't need to count for the no. of attributes for the selected branch. Counting will be needed when I'll generalise, so that if in future no. of attributes is increased then the maintainer don't need to

[2021-04-09 10:02] HagerDakroury commented on #64
I keep getting an error with the new server since yesterday, https://cors-anywhere.pasteur.cloud/https://bioweb.pasteur.fr/api/packages?search=&topicId=topic_3307
Seems to be temporarily down

[2021-04-09 10:09] HagerDakroury commented on #90
Although text selection would kind of defy the purpose of SVG, it can be a solution if needed. (I think it's enabled anyways when selecting outside the tree)
![image](https://user-images.githubusercontent.com/37930475/114165131-678f7e00-992c-11eb-8c65-058a39f2dc40.png)

I agree! the visualization makes the browser stand out and looks nice and usable.

Maybe just stick with changing the cursor shap

[2021-04-09 10:26] bryan-brancotte commented on #90
Hi

I don't think text selection is needed as when we click on a node it is presented on the right where text can be selected, also enabling text selection will prevent expending the node on click and we would lose something on that. I would definitely goes for changing the cursor and nothing else.

[2021-04-09 10:37] HagerDakroury commented on #90
Agreed!

[2021-04-09 11:10] bryan-brancotte commented on #45
Hi, I just re-read the labels, we never say that there is 58 tools associated with [Splicing analysis](https://edamontology.github.io/edam-browser/#operation_2499) for example, we say that it is used 58 times, and  `192 times with its 2 descendants`. The count are thus valid, they count the usage and we indicate it.

We could clarify and indicate that there is `192 annotation with the concept and

[2021-04-09 11:13] #83 closed

[2021-04-09 11:45] bryan-brancotte commented on #46
Hi @drashti171299 and @raashika03

_I'm replying here for both #92 and #87 as the remarks are the same._

The goal here is to add tooltips on various word in the detail panel. Providing not only the tooltip, but the whole html elements make it more difficult to maintain, for example one of you used [`<font>`](https://github.com/edamontology/edam-browser/pull/92/files#diff-c11ae8cf18cba2e900b4eee39

[2021-04-09 11:52] drashti171299 commented on #46
ok @bryan-brancotte . I will do changes as per your suggestion and update the code.

[2021-04-09 12:31] bryan-brancotte commented on #64
Hi @HagerDakroury, indeed I haven't finished to configure the server, I temporarily disabled it with fe3199cb88561c024a59b5c789e7a8bc0cdfb40e to prevent having all these error messages

[2021-04-09 13:15] drashti171299 commented on #46
@bryan-brancotte I have updated the code as per your suggestions. let me know is there any change or not.

[2021-04-10 09:45] raashika03 opened #102 "Overflow of search bar in smart phones"
When we don't use search bar, scrolling is possible to the term details table

![Screenshot_2021-04-10-14-57-00-01](https://user-images.githubusercontent.com/45493793/114265440-66368200-9a0e-11eb-8393-a4f6ec1b1527.png)

When we use search bar, it's not possible to go down without scrolling in a single flow(taking care to not scroll inside the image)

![Screenshot_2021-04-10-14-58-26-44](https://us

[2021-04-10 10:21] raashika03 opened #103 "Edit page alignment on using text box"
On propose change pages,  text is not aligned properly. When we use text box.

![Screenshot_2021-04-10-15-42-57-51](https://user-images.githubusercontent.com/45493793/114266395-c976e300-9a13-11eb-8d82-65e0ff395744.png)

![Screenshot_2021-04-10-15-50-02-30](https://user-images.githubusercontent.com/45493793/114266556-849f7c00-9a14-11eb-9bea-cc8dc966c32d.png)

While this's ok for main page at least,

[2021-04-10 10:36] raashika03 opened #104 "ctrl+z for "+" option on propose change pages"
![Screenshot_2021-04-10-15-56-27-01](https://user-images.githubusercontent.com/45493793/114266734-77cf5800-9a15-11eb-9690-6e74da92c12e.png)

Will adding a "-" button inside those text box which appears after using "+" button be a good feature, for better user experience.

To be used for collapsing those text boxes,  when the user decides later(after using "+" button) to not add any thing inside th

[2021-04-10 10:41] raashika03 commented on #103
Overall this page should be aligned while using search box. This seems better to me. Because right now you can move that page right left after using search text box,  which isn't appealing from user experience point of view.

[2021-04-10 10:48] raashika03 commented on #103
![Screenshot_2021-04-10-16-16-53-74](https://user-images.githubusercontent.com/45493793/114267284-41470c80-9a18-11eb-8d6d-111d6de72953.png)

At least something like this can be done.
What changes do you suggest @bryan-brancotte @matuskalas @hmenager

[2021-04-11 00:31] raashika03 commented on #77
Let #96 Be merged @matuskalas @hmenager then I'll take up this issue in full fledged. Something like this I've thought to do as per what you suggested
![IMG_20210411_060012](https://user-images.githubusercontent.com/45493793/114288230-47c29c00-9a8b-11eb-9d6b-9e86c23f16ca.jpg)
![IMG_20210411_060031](https://user-images.githubusercontent.com/45493793/114288231-51e49a80-9a8b-11eb-841d-7d49d975e15e.jp

[2021-04-11 00:48] raashika03 commented on #77
FAQ section can also be covered in this menu, if later on its needed.

[2021-04-11 07:54] Annysah commented on #50
Hello @bryan-brancotte hello all,
Please can you point me to how to access the edit icons

[2021-04-12 00:19] raashika03 commented on #50
![IMG_20210412_054430](https://user-images.githubusercontent.com/45493793/114326502-bd456f80-9b52-11eb-911e-ec1400ef19e4.jpg)
These two are the edit icons.

[2021-04-12 19:53] kellydoleo commented on #75
Hi @raashika03, can I help out with this issue?

[2021-04-12 20:01] raashika03 commented on #75
Mentor has not yet approved this issue. If needed I'll ask you for your help. Thank you Kelly.

[2021-04-12 20:10] kellydoleo opened #105 "Propose changing the mouse cursor to a hand when moving the tree around"
@matuskalas @hmenager @bryan-brancotte It could be useful to have a hand cursor icon when interacting with the tree instead of the mouse cursor to alert the user that they're able to pull and push the tree around. When hovering over the nodes on the tree, a pointer cursor appears, but outside of that there is only the mouse cursor.

Would having a hand/grabbing cursor be more helpful instead?

[2021-04-12 21:25] kellydoleo commented on #81
Hi @secrashi did you make a pull request for this yet? Is there any way I can provide help on this issue? @bryan-brancotte

[2021-04-13 00:19] raashika03 commented on #77
Hi @hmenager @matuskalas I came up with two ideas for the menu to be kept in the footer portion:
1) this seems ok if some menu or splashscreen kind of thing isn't gonna created. And since we don't have so many things to be kept in that menu so this seems ok.
![Screenshot from 2021-04-13 05-39-41](https://user-images.githubusercontent.com/45493793/114477999-f0533600-9c1a-11eb-9a2f-2b04a4ba35fa.png)

[2021-04-13 01:18] raashika03 opened #110 "speed optimization for Edam browser"
Speed matters when it comes to user experience.

Most of the people browse through a website in their smart phones. And the tree map and term details panel takes a bit more time than expected, can anything be done to improve the user experience.
In larger screens like in desktop loading isn't so slow.
As per I researched the major reason for website to be slow are images which load once when that

[2021-04-13 01:23] raashika03 commented on #77
![Screenshot from 2021-04-13 06-51-47](https://user-images.githubusercontent.com/45493793/114482867-ec2c1600-9c24-11eb-9705-4233ef75a68e.png)
this format also looks nice.

[2021-04-13 02:08] raashika03 commented on #110
What can be the probable reason for this issue? I got some reasons [here](https://www.altexsoft.com/blog/engineering/12-techniques-of-website-speed-optimization-performance-testing-and-improvement-practices/)
But unable to figure out the exact cause.

[2021-04-13 05:03] secrashi commented on #91
Hi @bryan-brancotte, yes a bookmark might not just be a term but a list of terms, and we can show them on our website in the same way as previously seen or maybe a @hmenager @matuskalas can suggest a better UI option. Also, we can make the bookmark terms flow down the same way previously seen terms do!
I wan inactive for some time due to my exams but now if you approve I can proceed with this!

[2021-04-13 05:06] secrashi commented on #81
Hi, @kellydoleo No I haven't made a PR for this yet, I was inactive for some time due to my exams, but I'll make the PR soon. I'll ask you if I need any help, thanks.

[2021-04-13 06:40] secrashi opened #114 "Remove 'previously seen' title when not required!"
When the website loads, initially, the previously seen field is empty, as shown in the figure!

![WhatsApp Image 2021-04-13 at 12 00 04 PM](https://user-images.githubusercontent.com/56053777/114507456-c583d480-9c50-11eb-9f4f-a67126aeccdb.jpeg)

Proposed solution: We can remove the 'previously seen' title when previously seen terms are 0.
Can @bryan-brancotte @matuskalas @hmenager approve this, so

[2021-04-13 08:57] secrashi commented on #102
Hey @raashika03, you addressed two issues here.

1. The search bar stretches and overflows out of the visible screen of the mobile.
2. We are not able to scroll down in a single flow when we click on a search bar.

For the first point, I noticed that when we click the search bar, it zooms out and it looks like overflow. Same as what you mentioned in #103, except there it was an input field box ins

[2021-04-13 09:27] secrashi commented on #79
Hey, @pooja2299, I too came across a similar problem regarding the positioning of the tree. When I open a particular field say operations from the drop-down menu, it loads like this
![WhatsApp Image 2021-04-13 at 2 41 56 PM](https://user-images.githubusercontent.com/56053777/114529393-8745df80-9c67-11eb-9d09-f522f7734794.jpeg)

Though these are not exactly similar issues their solutions might be l

[2021-04-13 09:53] bryan-brancotte commented on #81
Hi @secrashi

It is a good proposition that you made in #113, although we might face the same problem when using mobile (even if mobile is not our main target). Maybe you should dig a little more on the data-placement, and see if there is any option that would allow to place the box on the right when possible, otherwise on the left.

[2021-04-13 10:01] secrashi commented on #81
Hi @bryan-brancotte, I thought of that, but on a mobile phone, we can't hover over it, and when we click it, it opens in a new tab. So, I thought It'll not matter. If you want I can create an option that would allow placing the box on the right when possible, otherwise on the left, though I'm not exactly sure if it would be useful. Please let me know if I'm wrong!

[2021-04-13 11:19] raashika03 commented on #102
For 2nd point this's [where](https://github.com/edamontology/edam-browser/issues/72#issuecomment-816303405)    I'm working. May be @bryan-brancotte Will suggest something better than adding scrollbar.
For 1st point, I'll not stop the zooming of the content because that'll remove the focus from the selected element, so will just adjust them to fit the view screen.
Hope this answer your points @secr

[2021-04-13 12:07] bryan-brancotte commented on #69
A first attempt with pure css have been tried in #95 but does not do the trick. As far as I know there is no solution without javascript.

[2021-04-13 12:11] raashika03 commented on #69
Oki @bryan-brancotte I'll now go for listeners.

[2021-04-13 12:30] bryan-brancotte commented on #81
Hi, you are right about smartphone, although a long press expand the popover and propose to save the link, not very user-friendly but it works.

*Personal opinion: I prefer to have, when possible, the popover on the right, it covers less texts.*

So, the goal here is to find a way to display it on the right, otherwise on the left, I recommend you to do some search on popover with bootstrap, even i

[2021-04-13 12:34] bryan-brancotte commented on #114
Well spotted, it is a very easy `good first issue`, but go ahead if you want

[2021-04-13 12:38] bryan-brancotte commented on #105
I though it had already been done, but I was wrong :(, go ahead if you want :)

[2021-04-13 12:45] raashika03 commented on #110
As per you said @bryan-brancotte mobile phones ain't our focus (only 5% traffic) so This's not so useful. So I should close this? Please close it. If I'm correct.

[2021-04-13 13:19] bryan-brancotte commented on #110
Indeed this issue can be closed.

Note that if performance could be improved, I think not only smartphone should benefit the improvement, but all devices. If you have implementation improving the speed, feel free to PR.

[2021-04-13 13:21] raashika03 commented on #110
I'll surely look for ways to improve the speed. Thank you.

[2021-04-13 14:38] #57 closed

[2021-04-13 15:34] HagerDakroury commented on #79
Hi @secrashi, I have a question regarding this behavior.

Have you tried moving it? (does it move or remains cropped?) I tried reproducing this from a PC and as soon as I touch the tree, the position is fixed.

Let me know!

[2021-04-13 15:42] HagerDakroury opened #117 "Resolve conflicting tree event listeners"
I came across this when I was testing the tree zooming.
This may be rarely reproduced by users, but worth looking at nonetheless.

When you double click on a node, 2 events are triggered (zooming and expanding the node) which leads to one not being completed (expand)

![conflictingEvents](https://user-images.githubusercontent.com/37930475/114580739-69847480-9c7f-11eb-90bf-645c4b759b85.gif)

[2021-04-15 16:14] sunny775 opened #121 "Add start script to package.json file"
Currently, the instructions for running EDAM browser locally has us start the browser by executing the bash file directly on the shell, as highlighted by the image below
![Screenshot from 2021-04-15 17-02-54](https://user-images.githubusercontent.com/49409497/114901955-3b349f80-9e0d-11eb-94ac-70a2bd77df88.png)
I feel it will be better to have a conventional start script in package.json file, which

[2021-04-15 16:23] sunny775 commented on #121
Hi @bryan-brancotte @hmenager  . I'll make a pull request for this if you deem it worthwhile

[2021-04-15 16:57] sunny775 opened #123 "Update README.md with platform-specific start instructions"
This issue is to update README.md for two reasons:
( 1 )  To include the changes proposed by pull #122 if approved
( 2 ) To add  extra start instruction for windows users.  The current instruction for starting EDAM browser locally doesn't favour windows users, since windows cannot execute bash files directly.  A specific instruction on how to launch the browser locally on Windows OS needs to be ad

[2021-04-15 16:58] sunny775 commented on #123
Hi @bryan-brancotte  @hmenager  . I'll make a pull request for this if you deem it worthwhile

[2021-04-15 21:13] matuskalas commented on #123
I totally support the idea of adding the info potentially needed for Windows users 👍🏽 It has also been noted a couple of times on https://gitter.im/edamontology/edam-browser

[2021-04-16 02:29] sunny775 commented on #123
Thanks @matuskalas
I've updated PR #124 to include more detailed platform friendly start options

[2021-04-16 06:08] secrashi commented on #79
Hey @HagerDakroury, Yes the position gets fixed when I touch the tree, but by default, it appears cropped!

[2021-04-16 06:23] secrashi opened #126 "Add a feature to open tree on Full screen!"
Currently, a user has to scroll left-right and up-down using a mouse for viewing the whole tree.
**Proposed solution:** _We can add a new feature where a user can open the tree on full screen, by clicking on a button.
The button can be placed right next to other buttons as marked in the figure._

![WhatsApp Image 2021-04-16 at 11 41 20 AM](https://user-images.githubusercontent.com/56053777/1149798

[2021-04-16 10:35] sunny775 opened #127 "Porting EDAM browser source to React js"
The project description informs the need to scale the code base to include components for more complex visualizations such as **comparism of different versions of the ontology**.
Hence, the code base needs to be more scalable and maintainable.
With the project we currently have, including these needed features will entail adding more markup to the index.html file and adding more javascript to the

[2021-04-16 10:42] sunny775 commented on #127
@matuskalas  @bryan-brancotte  @hmenager If you'd deem this worthwhile , which I pray you do, I can get started with it immediately and make a PR for it in 5 - 7 days.

[2021-04-16 11:59] secrashi opened #128 "Multiple not required branches show up!"
On clicking "only data", "only format", "only operations" etc from the drop-down menu, multiple branches show up, as shown in the figure attached:

![WhatsApp Image 2021-04-16 at 5 18 36 PM (1)](https://user-images.githubusercontent.com/56053777/115020529-57e9d980-9ed8-11eb-8481-18ffdee74e57.jpeg)

If @bryan-brancotte @matuskalas @hmenager approve, then I'll change this to show up the direct branc

[2021-04-17 09:29] tawahpeggy commented on #121
I think it's a great idea, as when I finished cloning the project the first place I thought of looking for a start script was package.json but it carried no info as such which made me waste some time asking on the private chat group and waiting for people to help me.

[2021-04-17 09:38] tawahpeggy opened #130 "[new feature] Add Authentication"
hello Everyone, this is a suggestion I thought of when I was going through the code base. it will be good for users to be tracked in a wise way. not forcing people to create accounts but hiding some complex functionalities like maybe loading between different ontologies just for logged-in users as it will enable us to track how many people we impact and at what time hence enabling us to make concr

[2021-04-17 09:40] tawahpeggy commented on #130
the tools i suggest to be used include:
node.js
html
css
mongodb as database
bootstrap etc

[2021-04-17 09:41] tawahpeggy commented on #130
i really think tracking users is going to do alot of good especially on getting user feedback and so on

[2021-04-17 09:44] tawahpeggy opened #131 "Allow user to provide feeback"
it will be wonderful if we can get user feedback on how to improve the browser and also know what it is that's not done the right way, hence a feedback collection form will be needed

[2021-04-17 09:46] tawahpeggy commented on #131
A suggested model will be
Name:
email:
message:

[2021-04-17 09:58] tawahpeggy opened #132 "[good first issue] Remove Some CDNs"
During the time I have been studying and also advice from seniors in the field, I have learnt that cdns are good as they make the process easy but they have more disadvantages as a CDN could break at any time and also the company hosting the cdn might decide to change something about it and hence it affects everyone using it and changes will need to be done everywhere. for our case in index.html,e

[2021-04-17 10:31] tawahpeggy opened #133 "[enhancement] Error handling"
when a service is down or something isn't working, its really necessary and important  to let the users know rather than keeping them in the dark, and this is done by adding messages to be seen incase of certain errors but thats not the case as of now. i noticed especially when trying to load t a custom ontology if something goes wrong, the modal disappears instead of showing some hints why it fai

[2021-04-17 10:32] tawahpeggy commented on #133
Also when a process is successful, it's nice to let the user know its been successfully carried out while displaying the result

[2021-04-17 18:19] sunny775 commented on #121
Thanks @tawahpeggy

[2021-04-18 11:43] pooja2299 opened #134 "Proposing redesign of logo for EDAM Ontology #651"
Mentioning the issue made on [https://github.com/edamontology/edamontology/issues](url) for reference and would like to update further changes here.

[2021-04-18 11:50] #134 closed

[2021-04-18 16:28] pooja2299 commented on #134
I thought I had created this issue on edamontology/edamontology by mistake but later on realised that it has been moved there by @ bryan brancotte

[2021-04-18 21:32] pooja2299 opened #135 "Pointer-event on the node names"
The mouse pointer when hovered over the labels of the nodes, appears as shown in the pic below. This could be because all the names of nodes are of type 'text'.
I would like to do a small change to mouse pointer. It should not show the pointer as shown in the pic.

![image](https://user-images.githubusercontent.com/44069818/115161426-30069b80-a0bb-11eb-8103-38ead21f6b05.png)

 Rather, should show

[2021-04-18 21:38] pooja2299 commented on #135
I was trying to achieve this by editing the tree-reusable-d3.css file. But it was showing no changes. My code
`.node text{
     pointer-events : none;}`

Even any chnage any where else in this file is not shown on the website. For eg: I tries to change the font-size of the text of the nodes but no changes were shown. What could be the possible reason for it?
Can anyone help me with this?

[2021-04-18 21:45] pooja2299 commented on #135
Its working now after re-running  the start_edam_stand_alone_browser.sh file again :smile: . Maybe some cache problem.
Thank you.

[2021-04-19 09:09] HagerDakroury commented on #135
Hi @pooja2299 , this is a duplicate of #90. There's also a PR for that.

[2021-04-19 09:31] pooja2299 commented on #135
Oh sorry, I didnt notice.  Thanks @HagerDakroury

[2021-04-21 18:17] secrashi opened #137 "Inform user when loading ontology fails"
I tried to load a custom ontology it was not functional as shown in the video attached below:

https://user-images.githubusercontent.com/56053777/115600795-af35e280-a2fa-11eb-8e67-5842bd668d26.mp4

Can @matuskalas @hmenager @bryan-brancotte assign me this so I'll start working on it asap!

[2021-04-22 00:56] tawahpeggy opened #138 "[enhancement] fix full tree not shown when many nodes are open"
when too many  nodes are open, some content is hidden so I am thinking of adding something like a scrollable so users can scroll and see any angle of the tree @all please what are your suggestions?

[2021-04-22 09:12] HagerDakroury commented on #138
Hi @tawahpeggy, This is the same issue as #79. You'll find it well documented and discussed there. It also addresses the same issue when zooming.

[2021-04-22 09:14] HagerDakroury commented on #44
@hmenager, this should be closed since #100 is merged, right?

[2021-04-22 14:49] hmenager commented on #126
I think this would be a neat feature, please feel free to propose a PR @secrashi !

[2021-04-22 15:43] secrashi commented on #126
Sure, thank you!

[2021-04-23 04:58] tawahpeggy commented on #138
okay @HagerDakroury  thanks for your feedback

[2021-04-23 05:07] tawahpeggy commented on #137
Hello @secrashi, I noticed the same problem and think you should move on with your solution for it. And open a pull request, they will check when they are less busy. sorry about any inconvenience.

[2021-04-23 14:10] matuskalas commented on #137
Thank you very much @secrashi and @tawahpeggy for the heads up 🙏🏽

This really is a UX problem, where it's not clear enough from the instructions to a novice user, that the URL or file uploaded have to be in a special JSON format in order to work. It's written there in detail, but only underneath the active boxes. Working on a better input format (JSON-LD directly, as mentioned elsewhere), will de

[2021-04-23 16:35] secrashi commented on #137
Ohh, Thanks @matuskalas for letting me know, I would soon make a PR regarding the instructions. Also, this made me wonder what else we can do with this:
Can we add in a new feature, in which we can select a term and download it in JSON-LD format. would it be useful?

[2021-04-23 16:52] matuskalas commented on #137
Thank you so much! 👍🏽 I wondered what would be the best & easiest: just putting the details text BEFORE the input fields, or adding a note to the inputs that it needs to be in JSON, or something better? But you might have a better idea, so I'll leave the decision to you, you know better how it feels to a relatively new user😉

It would definitely be very useful! 🙌🏽 But:
- It might be a bigger task

[2021-04-24 04:14] secrashi commented on #137
- I'm planning to put the instructions in the placeholder of input. That way it would be clearly visible to everyone.
- Secondly, we can perform a check on the input file/ link, whether it contains data in JSON-LD format or not. If not, then it'll throw an error and ask the user to upload it in JSON-LD format. I looked up ways to do this, and I found that there are two methods for this,

1.  To us

[2021-04-24 23:32] Babsbarokah commented on #40
Hi @matuskalas @bryan-brancotte

I have finished redesigning this issue, here is the updated link https://www.figma.com/file/dTgV6HFPybn767Q7Mnm6sz/EDAM-ontology?node-id=0%3A1
What particular file am I changing/adding to send a PR

[2021-04-26 10:07] bryan-brancotte commented on #121
Thanks for #122 and #123 ! As tawahpeggy indicated it will help futur onboarding users.

I think it could be improved even more: `start_edam_stand_alone_browser.sh` is a custom start script with no reason to exists if we can do completly without it in `package.json` (including opening the windows). I you want, you can propose an alternative that in the end remove `start_edam_stand_alone_browser.sh

[2021-04-26 10:09] #90 closed

[2021-04-26 12:34] bryan-brancotte commented on #126
Hi @secrashi

It's a nice feature which open a new possibility for futur evolution of the browser, merging it

[2021-04-26 12:56] secrashi commented on #126
Thanks, @bryan-brancotte!

[2021-04-26 14:00] bryan-brancotte commented on #75
Hi @raashika03

I like this presentation for the links to twitter, gitter, and more, could you PR this ?

For the logo, we should for now use https://github.com/edamontology/edamontology/raw/main/EDAMrelations.png (which resolve in 404 as no logo has been selected yet). I don't know if we should show that the image is missing, or [hide it when missing](https://www.geeksforgeeks.org/how-to-hide-ima

[2021-04-26 14:11] raashika03 commented on #75
Oki @bryan-brancotte I'll do so.

[2021-04-26 14:34] raashika03 commented on #75
I didn't get this. This much I understood that logo will be selected in logoi repo then we can update it, so for now we should use, what you recommended.
"Resolve in 404" please explain a bit.

Hide it when missing seems apt, look wise. There's no point of displaying an icon, when it's missing.

[2021-04-26 19:48] bryan-brancotte commented on #75
I mean that the image is not found, when you click on the link you will get an [HTTP code 404](https://en.wikipedia.org/wiki/HTTP_404)

I did not follow precisely for the logo, I assumed that it will one day appear at  https://github.com/edamontology/edamontology/raw/main/EDAMrelations.png and want the browser to be ready to automatically use it.

[2021-04-26 19:51] raashika03 commented on #75
OK means that I should just change the address of the image.

[2021-04-26 21:24] bryan-brancotte commented on #127
Hi @sunny775

You raise a very interesting point on why not using a framework (ReactJS, VueJS, ...). This is currently not the case as skill were not there at the time (2018).

You points are good, I have one questions: Would it be compatible with github pages ? If not it would be a major drawback as the current github pages hosting solution allows us to have free hosting, even for forks.

Note th

[2021-04-26 21:26] bryan-brancotte commented on #44
You are right @HagerDakroury

[2021-04-26 21:26] #44 closed

[2021-04-26 21:27] bryan-brancotte commented on #138
Hi, indeed quite a duplicate of #79, closing current issue in favor of #79

[2021-04-26 21:27] #138 closed

[2021-04-26 22:49] raashika03 commented on #128
But then there'll be no use of cookies which is enabled to store the state of branches, either closed or open. @secrashi

[2021-04-27 02:09] bryan-brancotte commented on #137
Hi @secrashi

I only saw your gitter message at first but not the issue before I pushed 1af14999e6934c89b751af4716128ec80b2167a4 which bring some help in the current state of the application. Feel free to improve.

The main issue here is that you provided an url to a term in a field of a form that was waiting for a whole ontology in a precise format. If you look at the console (a good habit as a d

[2021-04-27 02:10] #114 closed

[2021-04-27 02:11] #135 closed

[2021-04-27 02:12] bryan-brancotte commented on #135
Hi @pooja2299

As indicated by HagerDakroury it is a duplicate so I'm closing this issue (also now fixed).

[2021-04-27 02:19] bryan-brancotte commented on #133
Hi @tawahpeggy

I see that  #137 is a duplicate of this issue, normally the older issue is kept open but as a conversation already took place in #137 I will close #133 and mention it there.

Also note that having a short and precise title issue help other dev to not miss you issue, in this case `[enhancement]` is not needed as maintainers can later add the label (I just did for the example), and `

[2021-04-27 02:19] #133 closed

[2021-04-27 02:19] bryan-brancotte commented on #137
_this issue is a duplicate of #137, keeping this open as a discussion took place here_

[2021-04-27 02:27] bryan-brancotte commented on #132
Hi @tawahpeggy , I understand your point but indeed I am sceptical: in the current setup, not using cdn would mean to save, commit, push and serve files that are already well served by a webserver. I don't see the point in doing a job already done.
If the application evolved to a actual sound npm module, then yes indicating the dependencies and not using cdn could be a good idea.

[2021-04-27 02:27] #132 closed

[2021-04-27 02:33] bryan-brancotte commented on #130
Hi @tawahpeggy having a db is incompatible with the current hosting strategy: we are using github pages which is equivalent of running an nginx/apache server and nothing else. I am thus closing it as authentication would be a part of a whole new version of the softwear which is not in the current scope of futur feature. Anyhow thanks for the ideas you provide in this issue and the others :)

[2021-04-27 02:33] #130 closed

[2021-04-27 02:41] bryan-brancotte commented on #131
Hi @tawahpeggy, thanks for the idea ! Users already "have" a feedback form, it is the github issue system. I agree that it is not that accessible, but better than nothing. I think we should help users creating an issue with a feedback in order to keep all communication/issues/feedback in one place. We could add a link that prefill an issue with information https://docs.github.com/en/github/managin

[2021-04-27 02:45] bryan-brancotte commented on #128
Hi @secrashi

I did not get your point, could you rephrase it ?

[2021-04-27 02:49] bryan-brancotte commented on #123
Hi @sunny775 good idea ! And also thanks for the help for windows users :clap: :+1:
Closing as merge

[2021-04-27 02:49] #123 closed

[2021-04-27 03:14] bryan-brancotte commented on #105
Hi, surprisingly the grab cursor does not work on chrome88+ubuntu while working with firefox87+ubuntu.
This issue could also be inderticly solved by #69

[2021-04-27 03:21] bryan-brancotte commented on #102
Hi @raashika03

I agree with @secrashi that this issue is very similare to #103 where smartphone browser zoom in when clicking on a search bar that is too small to be read otherwise. Never the less let the two remain open as solution could not be the same for both use case.

[2021-04-27 03:26] bryan-brancotte commented on #72
Having a way in js to reset window zoom and scroll would help escaping zoom trap. It could be triggered by a click on a button that would float at the bottom right of the screen (something like a back to top link).

This issue is not an easy task, but can be taclked by someone that want to show js and UI skill.

[2021-04-27 03:36] secrashi commented on #137
Yes, @bryan-brancotte, I looked at those error messages, but as a user, if he/she enters a wrong link, then nothing should be loaded and an error message should appear. But instead, on loading custom ontology while giving the wrong link( one without json-ld format ), it shows up some changes in the website as shown in the figure below:

![WhatsApp Image 2021-04-27 at 8 53 54 AM](https://user-image

[2021-04-27 03:57] sunny775 commented on #121
Thanks a lot @bryan-brancotte . I will work on it :)

[2021-04-27 04:01] raashika03 commented on #72
Oki @bryan-brancotte I'll implement it like you suggested.

[2021-04-27 04:12] sunny775 commented on #127
Yes @bryan-brancotte , it will be absolutely compartible with ReactJS
I understand that it's out of the scope for Outreacy, but I'd love to work on it in my free time.
It will mean every bit of enhancement  envisaged for the project.

[2021-04-27 04:46] secrashi commented on #128
Hi @bryan-brancotte, I meant that when we click on a topic say `only operation` from the drop-down menu, then various branches expand as shown in figure below:

![WhatsApp Image 2021-04-27 at 10 10 14 AM](https://user-images.githubusercontent.com/56053777/116186284-ef54f500-a740-11eb-87b8-65813d8b102f.jpeg)

Instead, only direct branches to operations must show up!

@raashika03, I'm proposing to c

[2021-04-27 06:40] tawahpeggy commented on #131
Okay @bryan-brancotte. Thanks for your reply.
I'll do as you have said though I am not sure for how long this solution will be used.The main problem here is not having a server space for user data,isn't it possible to maybe use the same API that the ontology it self uses for this things?
Because I think being dependent on github for so many things, what if it crashes 😅 or is down? Just saying.

[2021-04-27 06:46] tawahpeggy commented on #131
I know how to code in node.js  and will be able to implement that fast.
 Never the less I will continue with the feedback on github as you have said for now .🙏🙏

[2021-04-27 07:35] secrashi commented on #91
- This is almost how the final website would look after we add a bookmark option. I'm planning to add a bookmark icon near edit and add icon.

- ![WhatsApp Image 2021-04-27 at 12 55 05 PM](https://user-images.githubusercontent.com/56053777/116202285-06eba800-a758-11eb-8028-a533a0b1af52.jpeg)

- Also in mobile view or when previously seen terms and details box of current concept would float down th

[2021-04-27 12:40] raashika03 commented on #84
Can be closed @bryan-brancotte by #101

[2021-04-27 12:42] raashika03 commented on #81
Can be closed via #113 @bryan-brancotte

[2021-04-27 12:46] raashika03 commented on #60
Closing work done in #96

[2021-04-27 12:46] #60 closed

[2021-04-28 08:02] #75 closed

[2021-04-28 08:43] bryan-brancotte commented on #128
Thanks for your clarification @secrashi, the current behavior is that we save per-branch last seen term, and overall last seen term, so when opening a topic in the global tree, then selecting only operation, we try to open the last seen term, but as it is a topic we fall back on the last seen term when looking at operation which in you screenshot is `Sequence comparison`.

So the behavior is expec

[2021-04-28 08:52] bryan-brancotte commented on #137
TL;DR: show a message when it fails, don't check the schema for now : too much work.

The file is somehow checked, as we at least try to parse it. Indeed in case of error the app is in an obscure state and do not inform the user which is clearly bad. Checking is the json format is the one expected would be even better, but I think the first step is to inform the user that something went wrong. We

[2021-04-28 09:04] bryan-brancotte commented on #131
Hi @tawahpeggy

Indeed Github can crash, but I am more confident that It will be back online quickly with the millions of user using it than a server self-managed to host a project with less than an hundred users. Also having an application with storage and backend means more dependencies, handling  [GDPR compliance](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation), more work for

[2021-04-28 09:44] HagerDakroury opened #147 "Prevent tree jumpiness at the initial drag/zoom"
Following https://github.com/edamontology/edam-browser/pull/115#issuecomment-819391990 , there is a current problem with the tree jumping from the reset/initial position.

**Current Behaviour:**

![jumpIssue](https://user-images.githubusercontent.com/37930475/116383143-e171a380-a816-11eb-8006-e329ecf09e2d.gif)

**Expected Behaviour:**

Either the initial position be set to the middle (position aft

[2021-04-28 09:55] tawahpeggy commented on #131
That's true @bryan-brancotte. Your explanation is clear enough and indeed true.🙏🙏
Also,thanks for the clarification on API too.

[2021-04-28 09:59] HagerDakroury opened #148 "Prevent tree from being dragged out of bounds"
According to https://github.com/edamontology/edam-browser/pull/115#issuecomment-818847012 , a fallback solution was implemented to restrict the `translateExtent` of the tree.
That solution had other side effects and is now removed. So, a more proper way to handle this is needed.

**Current Behaviour:**

![nowZoom](https://user-images.githubusercontent.com/37930475/116385088-c142e400-a818-11eb-9a15

[2021-04-28 11:00] raashika03 commented on #147
Initial position in the left side leaves little more space in the right side for expanding the tree at first. So setting it to the middle might not be a good option specially for smaller screens.
![IMG_20210428_162940](https://user-images.githubusercontent.com/45493793/116393250-08dc6680-a83f-11eb-9248-2d585cadae8f.jpg)

[2021-04-28 11:22] HagerDakroury commented on #147
That's a valid point. Although, I'm not sure if the jumpiness is an issue on smaller screens. (looks like it jumps to a more appropriate position on my phone)

Also, the position is not static, it depends on the size of the tree and the view size(eg. when more branches are extended at reset, it jumps less, sometimes not at all). So, proposing to start in the middle just means start on the jumping

[2021-04-28 11:33] raashika03 commented on #147
Position is static it seems, when we press the reset button twice for some cases.
Twice pressing the reset button, when we zoom the tree.
Single pressing, when we drag.
Results in initial position to be at the leftmost side.

[2021-04-28 11:38] raashika03 commented on #46
@bryan-brancotte can be closed via #99

[2021-04-28 11:57] HagerDakroury commented on #147
I meant the position it jumps to is not static, it depends on the `translateExtent` boundaries which are set according to the SVG's size.
So, it differs according to the tree's state.

[2021-04-28 12:04] HagerDakroury commented on #147
To illustrate:

No jumping when the tree is a bit expanded (bigger SVG)

![noJump](https://user-images.githubusercontent.com/37930475/116400537-716d1880-a82a-11eb-99e6-cf893b63b9c0.gif)

Jumping at initial tree state (smaller SVG)

![Jump](https://user-images.githubusercontent.com/37930475/116400598-85187f00-a82a-11eb-96d7-6c8e4cbc3aba.gif)

[2021-04-28 12:56] #46 closed

[2021-04-28 13:00] raashika03 commented on #84
@bryan-brancotte can be closed via #101

[2021-04-28 13:01] raashika03 commented on #81
@bryan-brancotte can be closed via #113

[2021-04-28 14:47] secrashi commented on #137
Ohhk, thank you so much for letting me know the in n outs of this. I'll soon make a PR for displaying the error!

[2021-04-28 14:52] secrashi commented on #126
Closing with #141!

[2021-04-28 14:53] #126 closed

[2021-04-28 14:54] secrashi commented on #81
Thanks for reminding @raashika03, Closing with #113!

[2021-04-28 14:54] #81 closed

[2021-04-28 14:55] secrashi commented on #84
Closing with #101

[2021-04-28 14:55] #84 closed

[2021-04-28 15:14] bryan-brancotte commented on #91
Hi @secrashi

I would really liked to have curators mind on this aspect, but indeed I like the idea of term bookmark, and even more whole tree state bookmark. I think you can move on the first step and PR term bookmarks. Whole tree state bookmark can come later as an extension of this feature if needed.

I think the order you propose for low width screen is good. I think that bookmark should be le

[2021-04-28 15:23] matuskalas commented on #91
Hi all! I agree that this is something to think about, thank you for bringing it up @secrashi! These are all good points @secrashi @HagerDakroury @bryan-brancotte and options to consider, but I'm personally very unsure what would be the best... 🤔

[2021-04-28 15:24] secrashi opened #152 "Add a show more button to terms with lengthy details boxes!"
I noticed details section of some terms is very lengthy due to extra content, as shown in figure:

![WhatsApp Image 2021-04-28 at 8 50 04 PM](https://user-images.githubusercontent.com/56053777/116429297-61bdf600-a863-11eb-9551-c5458f4dbdcf.jpeg)

I propose that we should define a certain length of details box upto which it can extend and after that it will display a show more option, upon clicking

[2021-04-28 15:39] bryan-brancotte commented on #152
Hi @secrashi

I understand your idea, but I am not sure on how to do it while not impacting negatively users with wide screen. Maybe using a toggle for max length vs full text where the app would then remember that last time we asked for more/less ?

[2021-04-28 15:44] secrashi commented on #91
Thank you so much @bryan-brancotte @matuskalas for your reviews!

Sure, it might be a bigger task but I would like to work on the whole tree state bookmark. I would make a PR for intial step asap, and then work on this!

That indeed is a great suggestion, I think I too have to experiment things out to see what suits best. Meanwhile, I'll keep you updated with any changes I make!

Thanks @matuskala

[2021-04-28 15:51] matuskalas opened #153 "Project timeline for Outreachy"
**This issue documents the hints for creating a project timeline for the Outreachy applicants.**

And to answer an FAQ❔ _Nope, we don't ask any additional specific question in the final app.😊_

The project timeline can start with the onboarding tasks including:

- A chosen set of "good first issues" which the applicant hasn't finished already during the application period
- If the candidate is int

[2021-04-28 15:55] secrashi commented on #152
Hi @bryan-brancotte, thanks for pointing this out, I'll surely take it into consideration!

[2021-04-28 18:37] raashika03 opened #154 "error caused by getDarkMode in edit page"
https://user-images.githubusercontent.com/45493793/116454832-051c0480-a87e-11eb-8f93-b1be1a508e52.mp4

There's some unexpected behaviour on propose change pages.
@bryan-brancotte Please check, because of which commit this get generated.
Even that theme-button is not showing.

[2021-04-28 21:31] raashika03 commented on #154
I understood everything thank you!

[2021-04-29 08:24] secrashi opened #157 "Making tree box extendable vertically!"
Hello @bryan-brancotte @matuskalas @hmenager, this issue is about making the tree box extendable vertically using a cursor. As discussed in comments of #91, I implemented this feature roughly and the video of same is attached below:

https://user-images.githubusercontent.com/56053777/116521650-ddff1a80-a8f1-11eb-8211-80fcdd463c98.mp4

I thought of extending the box by stretching the bottom limit o

[2021-04-29 08:38] secrashi opened #158 "Remove repeated links for social media handles!"
Links for social media handles are added on the top of the page, as well as in the footer. I think there is no need of mentioning them twice, so we could remove one of them. So, I propose to remove the handles from the footer section. This is a simple task so if @bryan-brancotte @matuskalas  @hmenager can give me a thumbs up for this, I'll make a PR!

[2021-04-29 08:47] raashika03 commented on #158
Please check [this](https://github.com/edamontology/edam-browser/pull/143#issuecomment-828239348) discussion.

[2021-04-29 08:51] secrashi commented on #158
Oh, thanks for letting me know buddy! I'll close this then!

[2021-04-29 08:51] #158 closed

[2021-04-29 09:00] secrashi commented on #128
Ohh, ohhk, Now it makes more sense, I was aware of storing last seen term and cookies stuff, but I wasn't aware of Sequence comparison. Thank you so much for letting me know!

I currently don't have any better method than this, but I would like to work on this if you have something better in your mind!

[2021-04-29 09:00] raashika03 commented on #157
![image](https://user-images.githubusercontent.com/45493793/116526174-f0c81e00-a8f6-11eb-821a-b290a671c3c4.png)
Resizing(only vertically) using cursor will be a better option here. Providing buttons for everything will unnecessarily add up in the contents.

[2021-04-29 09:09] raashika03 commented on #157
Two things can be done here for better UI:
1) provide resizing using cursor for devices with mouse.
2) provide a button to appear for devices with touchpad.
This approach will enhance UI & UX and is likely to solve scrollability issue for smaller screens.

[2021-04-29 09:09] secrashi commented on #157
You are right @raashika03, but then a user might not get the idea of the existence of this feature. Let's see what our mentors suggest in this!

[2021-04-29 09:24] raashika03 commented on #157
I agree with you @secrashi but then if we see like that then even feature like dragging of tree map is not shown anywhere explicitly.
But still it's known to users and it's still helpful to have it without any button.

A user will notice it with the change in cursor from pointer to resize one when they will scroll down to the empty spaces.
Tree map is like an image and in most of the websites one

[2021-04-29 13:10] bryan-brancotte commented on #154
Hi @raashika03

I removed the theme button with 095b1ec8ad54d3c3147459b8972f6d47275773cc : it was missplaced, and "As the theme is chosen in the main UI, we can keep on using the choice of the user."

[2021-04-29 13:30] raashika03 commented on #154
Yes @bryan-brancotte I understood later on after checking the commits in edit.html file. Thanks a lot again.

[2021-04-29 14:32] bryan-brancotte opened #159 "Improve theme button location"
Theme button location is not natural I think, I already expressed it in https://github.com/edamontology/edam-browser/pull/150#issuecomment-828484969 I even removed the button from the edit page with 095b1ec8ad54d3c3147459b8972f6d47275773cc. I think work need to be done to find a proper location. UX/UI skill might me needed.

[2021-04-29 15:27] bryan-brancotte commented on #157
Hi both of you,

This issue is very interesting, and I would like to go even deeper and think of why we would add a vertical expand button. It is because we want to use all the space we have while keeping the right detail panel, and #141 worked in this direction. I would like to go further and introduce the second part : have in fullscreen the detail panel. There is an old feature that I disabled

[2021-04-29 15:31] bryan-brancotte commented on #128
I don't have sorry, feel free to close this issue and move to another topic.

[2021-04-29 15:43] SJellen commented on #159
<img width="721" alt="Screen Shot 2021-04-29 at 11 38 18 AM" src="https://user-images.githubusercontent.com/51421669/116578880-d9316b00-a8df-11eb-8b03-a0cb9be1c76e.png">

Here is my 2 cents
The vertical lines are to show a separation from the main content not necessarily  an actual line

[2021-04-29 15:50] raashika03 commented on #157
so do you mean,
1) Have details term table appear on hovering over a node when tree map is in full screen mode?
Did I understood right @bryan-brancotte ?
So, vertical extension of tree map isn't needed, if we'll go with option 1. This seems useful to me.

empty space can be covered in other more useful ways. May be that bookmark option on which @secrashi is working.

[2021-04-29 19:43] bryan-brancotte commented on #157
I would say yes @raashika03
Here is a draft of what I have in mind (pure photoshopping)
![draft](https://user-images.githubusercontent.com/11556772/116607521-60a7ca00-a932-11eb-82a3-3ba6dda53804.png)

Adding "Community usage" would be done later, and only on demande as it consume network and we could end up block with too much request on each service.

[2021-04-29 19:49] raashika03 commented on #157
Ok @bryan-brancotte I understood well. So may be you can create an issue for this :) then one can work. :sweat_smile:

[2021-04-29 22:01] raashika03 opened #161 "Loading animation for Edam browser"
[Not so urgent]
how about adding a loading animation here

https://user-images.githubusercontent.com/45493793/116623060-49350500-a963-11eb-8526-4325525547f5.mp4

To inform user that some action is in progress. Tree loading is slow in screens of smaller sizes.
Like here in this website:
This one I'm showing just as an example, if agreed upon I'll implement it with better design.

https://user-image

[2021-04-29 22:19] raashika03 commented on #161
I noticed that a loading animation is generated only for meta-info at its location only after this [commit](https://github.com/edamontology/edam-browser/commit/f311af3a2052effa18b2d0939444925b3da2319c) which added that as a button. is this generated by default @bryan-brancotte.
I'll dig more on this If not so.

[2021-04-30 04:04] sunny775 commented on #159
Hi @bryan-brancotte . I'll make a PR for this issue

[2021-04-30 10:16] #121 closed

[2021-04-30 11:51] bryan-brancotte commented on #161
Hi @raashika03
I remember at a time there was a loading, but then I removed it, don't remember why. Indeed if loading the json take 7s a loading would be needed.
This issue requires "only" css skills, a good first issue to show css skills.

[2021-04-30 11:52] raashika03 commented on #161
Ok @bryan-brancotte thank you for the review. I'll take it. :)

[2021-04-30 12:53] bryan-brancotte opened #163 "automatically use prefered color scheme"
In recent android version we can set the default theme to dark, it is transmitted to the browser, and the website. The goal of this issue to to enable by default the dark theme when specified, but still keep the ability to switch between light and dark theme.

[2021-04-30 16:48] raashika03 commented on #163
Hi @bryan-brancotte I would like to take up this issue. I got [some direction](https://developer.mozilla.org/fr/docs/Web/CSS/@media/prefers-color-scheme)
by your help [there](https://github.com/edamontology/edam-browser/issues/60#issuecomment-812681608)
Thank you :)

[2021-05-01 16:59] tawahpeggy commented on #131
Hi @bryan-brancotte.
I tried creating the issue template for the feedback as we discussed, but it seems I don't have the right permissions to carry out this action.
Here is a screenshot of how the page appears
![Screenshot from 2021-05-01 12-48-35](https://user-images.githubusercontent.com/40355086/116789285-24808080-aa7c-11eb-8244-d23a0b3d0ab3.png)
here is also a screenshot of one of my personal

[2021-05-03 09:36] bryan-brancotte commented on #163
Hi @raashika03

Thanks for your enthusiasm, although you already mentioned that you want to work on other issue, so I think it could be a good idea to leave this issue for other people who would also want to begin to contribute.

[2021-05-03 09:38] raashika03 commented on #163
oki @bryan-brancotte thank you. :)

[2021-05-03 09:48] #159 closed

[2021-05-03 10:19] #161 closed

[2021-05-03 12:16] bryan-brancotte commented on #131
Hi, indeed you cannot configure the project directly, but you can still create PR with new templates as it is/was carried in https://github.com/edamontology/edamontology/pull/626

[2021-05-03 12:57] bryan-brancotte commented on #159
And btw thanks to @SJellen for your suggestion !

[2021-05-03 13:04] bryan-brancotte opened #167 "Add term detail in a floating panel in full screen"
In https://github.com/edamontology/edam-browser/issues/157 the goal was to make use a unused space in the lower part of the screen. After fullscreen became active, the wasted space became partiaccly resolved and the need of the detail of the term in fullscreen [arrise](https://github.com/edamontology/edam-browser/issues/157#issuecomment-829335940).

There already is a floating panel, but with very

[2021-05-03 13:08] tawahpeggy commented on #131
okay @bryan-brancotte thanks alot

[2021-05-03 13:09] #128 closed

[2021-05-03 13:15] bryan-brancotte commented on #104
Adding a `-` would be more user friendly I agree, but removing the content achieve the same goal. I don't think adding that the benefit justifies the cost.

[2021-05-03 13:15] #104 closed

[2021-05-03 13:16] bryan-brancotte commented on #103
Maybe looking at bootstrap doc to see how they recommend to use horizontal form ?

[2021-05-03 13:19] bryan-brancotte commented on #77
Having configurable communi links (and logo why not) can be very usefull when considering that a instance of the browser could be setup for https://github.com/edamontology/edam-bioimaging

[2021-05-03 13:20] raashika03 commented on #104
Ok I agree it wasn't so much useful. It was just for reverting the addition of another input box.
Thank you :)

[2021-05-03 13:22] raashika03 commented on #103
Yes @bryan-brancotte now I'll see this issue. was waiting for it's approval :sweat_smile: thank you

[2021-05-03 13:32] bryan-brancotte commented on #103
Ok, assiging you

[2021-05-03 13:55] #154 closed

[2021-05-03 18:39] pooja2299 commented on #167
Is someone working on it or can I work on it?

[2021-05-04 09:22] #103 closed

[2021-05-04 11:52] bryan-brancotte commented on #102
Following original idea done in #169, adding viewport to index.html and updating width with 8da0b2a22d4bd9bc8e81004e198d36c4776c18e4, issue is solved

[2021-05-04 11:52] #102 closed

[2021-05-04 20:01] raashika03 commented on #72
Hi @bryan-brancotte I think this problem is solved now because of viewport addition.
There's not as such scrollablility issue now.
So, I'm closing it. Feel free to add up if I missed anything.

[2021-05-04 20:02] #72 closed

[2021-05-04 20:08] raashika03 commented on #72
Moreover after addition of button to view tree map on full screen, no one will generally try to enlarge the tree box.
So this pop up button will unnecessarily add up in the content.

[2021-05-05 07:08] bryan-brancotte commented on #40
Hi @Babsbarokah

I missed your message of April 25th sorry. The design looks good, to be honest I don't see the difference with what it was at the moment of https://github.com/edamontology/edam-browser/issues/40#issuecomment-815377028 . For future work in issue, and not limited to this project, I recommend you that you keep information inside the issue and not third party service. For example here

[2021-05-05 14:35] bryan-brancotte commented on #167
Hi @pooja2299 thanks for you interests, I will take care of it as I have some precise idea of what should be done and don't want to bother someone by saying at every line of code "write that here, write that there, ..."

[2021-05-06 01:05] raashika03 commented on #49
Hi @bryan-brancotte can you review this once :sweat_smile:

[2021-05-06 05:33] Babsbarokah commented on #40
Hi @bryan-brancotte thank you for your honest feedback. I'd work on this. The design I made was to a part of the website; in reference to the copy button and ID raised. Please see attached image of the original website and the replication I did below.

The next task to git clone, I'd give it a shot and let you know my progress on it, thanks.
![Screenshot_20210506-062703~2](https://user-images.gith

[2021-05-06 07:15] bryan-brancotte commented on #49
Hi, I don't completely get what you are talking in the c++ message and the following message. What I can say is that this issue is not about editing the user interface in the website, it is to change the text of the issue generated by the app and sent to github. Hope this will help

[2021-05-06 14:24] #167 closed

[2021-05-06 15:17] pooja2299 opened #176 "Add 'Is Identifier Of' term relationship in term relation form"
`Is Identifier Of` term relationship to be added as mentioned in issue #50 .

[2021-05-06 15:19] pooja2299 commented on #176
#174

[2021-05-07 03:51] raashika03 commented on #41
Is this issue still needed to be work upon.

option to download the data (which goes for now on github as PR after edition on edit page) in json format. Is all needed to be done in this issue right? @bryan-brancotte

[2021-05-07 03:54] raashika03 commented on #21
@bryan-brancotte any thing left in this to be covered or can be closed?

[2021-05-10 10:01] bryan-brancotte commented on #40
Hi,

I would like to highlight that this issue is about adding a button next to URI in order to copy them easily. It is not about improving the theme and/or removing rounded border. In a PR it is recommended to solve one issue at a time (https://github.com/edamontology/edam-browser/blob/main/CONTRIBUTING.md).

In the browser we use bootstrap, and this lib has a very convenient way of adding a butt

[2021-05-11 05:13] secrashi opened #184 "Edam Logo looks distorted in dark theme!"
I noticed that the Edam logo looks distorted when we switch to the dark theme. It is distorted in light theme too but it isn't visible there.
![WhatsApp Image 2021-05-11 at 10 35 07 AM](https://user-images.githubusercontent.com/56053777/117761516-17fee380-b245-11eb-8a92-c232544711f3.jpeg)

I tried opening the SVG file in Adobe Photoshop, but it won't open up with the layers. So, I can design it fr

[2021-05-12 17:54] secrashi opened #189 "Edit and add icon floats down from Tooltip box!"
I noticed that while viewing tooltips without details, the edit icon and add icon flowed out of the box as shown in figure below:

![WhatsApp Image 2021-05-12 at 11 20 58 PM](https://user-images.githubusercontent.com/56053777/118021641-16363c80-b379-11eb-8fb3-405a63ed128e.jpeg)

[2021-05-12 18:41] raashika03 commented on #189
![Screenshot from 2021-05-13 00-08-48](https://user-images.githubusercontent.com/45493793/118027501-9fe90880-b37f-11eb-84b7-9913b3f4a83b.png)
I'm not able to reproduce it. I think you've some issue locally.

[2021-05-13 02:47] secrashi commented on #189
Hi @raashika03,

- First, You have attached the image of a term I didn't discuss.
- Secondly, this issue arises in terms of longer names whose words are just enough to be in the same line `width=20vw` (nearly), then this condition occurs.
- Third, I checked it, it's not a local issue.
Hope its clear now :)

[2021-05-13 05:54] raashika03 commented on #189
Yess now this's more clear and I'm able to reproduce for longer one.

[2021-05-13 07:07] secrashi commented on #163
Hey @bryan-brancotte, If nobody has yet taken this issue, Can you assign this to me?

[2021-05-15 12:28] matuskalas opened #192 "Redirection from old ifb-elixirfr.github.io"
It's super-awesome that the old EDAM Browser links redirect to the new site! 🚀🥇🙌🏽

However, https://ifb-elixirfr.github.io/edam-browser/#http://edamontology.org/data_0842 redirected to https://edamontology.github.io/edam-browser/#topic_0082. Is that expected?

[2021-05-15 12:36] matuskalas commented on #192
I see, it just opens my last viewed concept in the EDAM Browser, the same as https://edamontology.github.io/edam-browser. It's, however, super confusing in this case.

(And also, as discussed before, pasting #data_0842 into the URL doesn't help.)

[2021-05-15 12:46] matuskalas opened #193 "Title of issues generated for edamontology"
Context: Generating an issue in https://github.com/edamontology/edamontology after filling in the change proposal form in the EDAM Browser.

I'd suggest changing the pre-filled `[Edam Browser User] Change proposition for ...` to something like `[EDAM Browser user] Change request for ...` or `[EDAM Browser user] Change proposal for ...`, so that it parses better.

Native English speakers, do you ha

[2021-05-15 13:32] raashika03 commented on #193
I'm prioritising sentences here accordingly with some reasons:

1) `[EDAM Browser user] Proposing changes for ...`
Sounds more clear to the user. It clearly shows that (s) he is proposing changes to the existing term.
2)  `[EDAM Browser user] Change proposal for ...`,
It signifies This's a "change proposal" so they should come together. They should be objectified together for clarity.
Like `[EDAM

[2021-05-15 15:25] matuskalas commented on #193
Thanks for your quick analysis @raashika03! 🙏🏽

What about `[EDAM Browser user] Proposing changes to ...`?

[2021-05-15 15:31] raashika03 commented on #193
This's better than first option of my proposal.👏
As an example.
![Screenshot_2021-05-15-20-59-46-37](https://user-images.githubusercontent.com/45493793/118369119-a914e800-b5c0-11eb-8615-91fff33bf1fd.png)

[2021-05-15 15:45] raashika03 commented on #193
`[Edam Browser User] Change proposition for http://edamontology.org/topic_0091`
We're proposing changes for this & ` http://edamontology.org/topic_0091` isn't a verb it's more like noun. So, using for should be preferred grammaticaly.
![IMG_20210515_211226](https://user-images.githubusercontent.com/45493793/118369770-4e7c8b80-b5c2-11eb-8b18-5a4f9095b421.jpg)
Citing an example for the same @matuska

[2021-05-15 15:51] secrashi commented on #192
Hi @matuskalas

 I noticed that after pasting #data_0842 into the URL, I have to press enter, then reselect the link and press enter, and then it will be loaded. I attached a video showing the same. I think that to load the URL after altering it, it requires the website to be reloaded two times. I also checked this for other terms.

https://user-images.githubusercontent.com/56053777/118369996-483a

[2021-05-18 12:25] bryan-brancotte commented on #192
Hi

It use to be a simple meta refresh, which did not transfer the hash so the browser use the last seen term.

Indeed copy pasting the hash does not work for the first try, it works on the second try in chrome as you also found @secrashi . It even do not work with firefox. In the later you have to F5 or Ctrl+R. Not very user friendly I agree.

Now I passed to JS forward, along with the hash, you

[2021-05-18 12:25] #192 closed

[2021-05-18 12:33] matuskalas commented on #192
Wow, super cool how it works now 🙌🏽🙌🏽
🥇 @bryan-brancotte !

[2021-05-18 13:11] bryan-brancotte opened #197 "Use logo as favicon"
Following an idea of @secrashi in https://github.com/edamontology/edam-browser/pull/186

As logo will be shipped [into the ontology file](https://github.com/edamontology/edam-browser/pull/186) (owl/json/...) it would be nice to change the favicon accordingly to what is proposed inside the ontology. It should be dynamical, and fallback to the old favicon.ico when no icon is specified in the ontolog

[2021-05-18 15:10] #137 closed

[2021-05-19 07:02] #157 closed

[2021-05-19 08:24] bryan-brancotte commented on #91
After seeing work done in #195 I think we indeed should keep the proposed order for vertical layout (mobile): tree, bookmarks, details.

[2021-05-22 08:22] Guneetsinghtuli opened #198 "Table div overflowing in Safari"
This is a Cross-Browser testing issue. The div is not overflowing in Chrome But in Safari the table is overflowing out of div at a certain width of the screen.
You can test it using : https://developer.apple.com/safari/technology-preview/
![Screenshot 2021-05-22 at 11 21 13 AM](https://user-images.githubusercontent.com/48324492/119219662-3a75e400-bb04-11eb-8f7d-3874e01a7271.png)

I worked on this

[2021-05-22 18:27] raashika03 opened #200 "unwanted Text selection on vertical extension of tree box using resizer"
![Screenshot from 2021-05-22 23-51-56](https://user-images.githubusercontent.com/45493793/119237187-36c07c80-bb59-11eb-9505-aa64156e4f60.png)

[2021-05-23 01:21] raashika03 commented on #189
FYI
produced only for smaller screen sizes.

[2021-05-23 23:15] HagerDakroury commented on #200
Thanks, @raashika03, good catch!  was able to reproduce it.

![resizerBuggg](https://user-images.githubusercontent.com/37930475/119279649-59bc6080-bc2d-11eb-81a8-50312e2bd87e.gif)

I believe this is due to the cursor's free movement while holding the resizer. Should probably be restricted to a smaller area.

What do you think @bryan-brancotte ?

[2021-05-24 01:04] raashika03 opened #201 "Display resizer only for devices with mouse"
For touchscreens, it doesn't work. So for better UX,  it must be hidden.

Or, can be restricted to a limited screen size using media queries.
Exactly like "back to top" button.

[2021-05-24 10:03] HagerDakroury opened #202 "make tooltips responsive"
While reproducing #189, I noticed that the tooltip is not responsive (gets cropped when resizing the browser)

![tooltipNotResponsive](https://user-images.githubusercontent.com/37930475/119331322-8309da80-bc87-11eb-8db2-9e1f38274dce.gif)

It should be accommodating this by wrapping or moving to the center/left.

[2021-05-25 12:54] #198 closed

[2021-05-25 13:18] bryan-brancotte commented on #200
Hi @raashika03 @HagerDakroury

I saw this selection issue and it did not bother me that much, but I am not representative of the majority of the users !

#203 could fixe it, just wondering it we removed a functionality that is used somewhere

[2021-05-25 15:34] bryan-brancotte commented on #202
Good point, I have no clue on how to do it !

[2021-05-26 08:31] bryan-brancotte commented on #22
Now that we have options buttons on the right of the tree, if this function is implemented, it should be optional and save into storage

[2021-05-26 08:32] bryan-brancotte commented on #31
We have to decide if there is a source for such information, or close the issue

[2021-05-26 08:34] bryan-brancotte commented on #41
Downloading part of the ontology is not in the scope for now, closing

[2021-05-26 08:34] #41 closed

[2021-05-26 08:36] HagerDakroury commented on #127
@bryan-brancotte any updates if this is feasible right now?

[2021-05-26 08:36] bryan-brancotte commented on #45
@matuskalas as you were the one spotting that the count is ~~incorrect~~ ambiguous, do we change the text, or keep it as is and close the issue ?

[2021-05-26 08:41] bryan-brancotte commented on #127
Laaate answer, sorry

Thanks for your enthusiasm, but I have to decline the migration to react as skills to then maintain it in the futur are not available for now and are not in the scope of next-to-acquire skills

[2021-05-26 08:41] #127 closed

[2021-05-26 08:43] bryan-brancotte commented on #184
Hi

It is not distorted, it is just in very poor quality.

The logo is a big discussion as you saw with see https://github.com/edamontology/logoi and https://github.com/edamontology/edamontology/issues/666

The current logo is just the conversion in svg of the jpg/png I found. I/we are waiting for the new logo to be chosen/created/selected/published/... not that the "new" logo could be the same, b

[2021-05-26 08:43] #184 closed

[2021-05-26 08:44] bryan-brancotte commented on #63
Issues raised here were tackled in various issues. Thanks for raising them !

[2021-05-26 08:44] #63 closed

[2021-05-26 08:48] HagerDakroury commented on #69
I guess this is now a duplicate of #201 ? The issue now is to make the resizer work on mobile, right? Or the visual effect is still a desired feature? @bryan-brancotte

[2021-05-26 09:41] bryan-brancotte commented on #77
We should first update https://github.com/edamontology/edam2json/ in order to add in the export le various information that will be added to the owl file

[2021-05-26 09:48] bryan-brancotte commented on #110
Closed as inactive for a long time

[2021-05-26 09:48] #110 closed

[2021-05-26 09:55] bryan-brancotte commented on #131
Hi @tawahpeggy

Thanks for your proposition with #183, I have various remarks :
 * we are asking for the email in a public issue, the email will then be visible to everyone. We shouldn't ask it, and after all we know the author
 * as we know the author, we don't need its name, it is already stated in the github account
 * Having rating is only relevant when in an app store to compare, here it woul

[2021-05-26 10:04] #131 closed

[2021-05-26 10:25] bryan-brancotte commented on #193
Highly related to #27

[2021-05-26 10:50] #201 closed

[2021-05-26 10:51] bryan-brancotte commented on #201
I agree that it was not working well, should be fixed now

[2021-05-26 11:01] #69 closed

[2021-05-26 11:03] HagerDakroury commented on #105
@bryan-brancotte should that be still done for browsers supporting it? I think the grab cursor would still be a valuable enhancment

[2021-05-26 11:24] bryan-brancotte commented on #105
Yes, why not

[2021-05-26 11:32] bryan-brancotte commented on #163
answering a little late, but the issue is still open for claim (including both of you)

[2021-05-27 10:10] #105 closed

[2021-05-27 11:30] HagerDakroury commented on #117
Hi @bryan-brancotte, I'm trying to work on this one. I've tried to prevent double zooming ( or any further event for that matter) when clicking on a node.
This is my code inside the click event listener
`d3.event.stopPropagation();
svg.on("dblclick.zoom", null );`

But still, a second click on the node is triggered!

![treeconflicting](https://user-images.githubusercontent.com/37930475/119818397-6

[2021-05-27 12:10] bryan-brancotte commented on #117
Hi @HagerDakroury

I don't know how to prevent double zoom/double click, but I might have a lead:
[code]
it seems that in `d3.event.detail` we have the id of the click when doing multiple click (double, tripple also). First test indicate that it prevent the bug of having the path rendered without the node or text. Indeed it prevent a second call to `toggle` while the animation of the first is stil

[2021-05-27 14:43] HagerDakroury commented on #117
This is super helpful! I'll proceed trying this out

I found a function called `zoom.filter` where you can pass events to display zooming at. Just need to get the exact event name when clicking a node and it should take care of that.

Will look into that after handling the double clicking.
Thanks!

[2021-05-27 16:00] #77 closed

[2021-05-31 08:33] hmenager opened #207 "Scrolling to selected concepts / scroll-into-view"
## Specification

When searching for a given concept in EDAM, the scrolling seems to often fail to reposition the view to properly show it in the tree.

### Devices

Laptop and Desktop

### Browser

Firefox 88.0.1 (64 bits)

## Message

Reproduce:
- open https://edamontology.github.io/edam-browser/
- search for e.g. FASTA, and select the first proposed concept in the autocomplete list --> scrollin

[2021-05-31 08:57] HagerDakroury commented on #207
Can reproduce yes.

How should duplicates be handled in such case? scroll to the first one ?

[2021-05-31 09:41] bryan-brancotte commented on #207
Hi

I don't know if we ever had the "scrool into view", but would be a cool feature.

[2021-05-31 09:43] bryan-brancotte opened #209 "Multiple different elements stay selected with search bar"
## Specification

### Devices

desktop

### Browser

Chrome

## Message

with the search area, search and select biology, and then search and select Physics, you see that both stay selected.

[2021-05-31 09:46] #209 closed

[2021-05-31 10:00] hmenager commented on #207
We had it I think, I really liked it a lot.
And, yes, @HagerDakroury , scrolling to the first one by default is the best option.

[2021-06-01 07:38] HagerDakroury commented on #197
Shouldn't this be closed following 7096433 ? @bryan-brancotte

[2021-06-01 08:01] bryan-brancotte commented on #197
Hi @HagerDakroury almost as I forgot to do it for the favicon, PR incomming.

[2021-06-01 08:09] #117 closed

[2021-06-01 08:14] #197 closed

[2021-06-01 08:40] bryan-brancotte commented on #207
After some trying, I think we can have the feeling of the scrool-into-view with topics as they most of the time open in front of us. With Data it clearly is not the case. I think I added the bold path to the selected elements in order to help finding selected element, and thus because there is no scroll into view. When looking at the code, specifically where we expand all node to the selected node

[2021-06-03 17:41] HagerDakroury opened #210 "Fix Community Usage's tooltip position"
## Specification

### Devices

Laptop

### Browser

Chrome, Firefox

## Message

The tooltip associated with community usage is placed awkwardly

Steps to reproduce:
1. open the EDAM browser on fullscreen
2. click on any term (e.g https://edamontology.github.io/edam-browser/#format_3326)
3. hover over the community Usage title in the details panel

![tooltipPosition](https://user-images.githubuser

[2021-06-04 09:37] bryan-brancotte commented on #40
Hi @HagerDakroury

I searched for copy-link, the github one is convenient (I fell). I also look at the stackoverflow one but it does not fit our needs. Here after are suggestion of presentation.

![Capture d’écran de 2021-06-04 11-18-16](https://user-images.githubusercontent.com/11556772/120779318-3d6ecc80-c527-11eb-98f9-8f81665f7d18.png)

I also think that we should be able to copy the URI also f

[2021-06-04 11:12] HagerDakroury commented on #40
@bryan-brancotte , those look good! and you're right, if it's intended to be reusable across all terms, then it makes sense to have it as part of the row not concatenated.

I have a concern though regarding the UI. Don't you think the icon+URI is a bit verbose? (especially when the details panel appears as a tooltip) . I always see it used only as an icon optionally with a tooltip indicating the f

[2021-06-04 12:41] bryan-brancotte commented on #40
I agree with you, icon+URI is crowded but on the other hand has we would be copying the URI not the text it could be confusion to clic on copy `Sequence Assembly` and get an URI. Maybe only the icon and a little toolitp like you did indicating after the clic that the URI have been copied ?

[2021-06-07 09:12] HagerDakroury commented on #40
Should the button be added to only the URI or ALL concepts (topic, parent, etc..)? cc @bryan-brancotte @matuskalas

[2021-06-07 12:07] bryan-brancotte commented on #40
Hi, Yes definitly, this button should help to copy the URI of all term displayed on the right.

[2021-06-07 14:39] #40 closed

[2021-06-07 17:42] HagerDakroury commented on #43
should be closed with #40 ? @bryan-brancotte

[2021-06-08 07:49] HagerDakroury commented on #202
hi, @bryan-brancotte I'm trying to start tackling this but I'm clueless as well. Do you think we can try to figure it out together?
I think the first direction may be to look into styling this in a more responsive way (however the main details panel is responsive normally so maybe that's not the issue here)

Any thoughts on where to start?

[2021-06-08 13:21] bryan-brancotte commented on #202
Hi @HagerDakroury , I hopped you had a clue when you created the issue because I did not have one. Just an idea, but maybe we can at [this moment](https://github.com/edamontology/edam-browser/blob/main/js/tree-reusable-d3.js#L202-L204) get to know the width of the tooltip container, the width of the container and adapte it to not overflow (`tooltip.width=min(400,parent.width-tooltip.x)`). We would

[2021-06-08 13:23] bryan-brancotte commented on #43
Definitely @HagerDakroury  !

[2021-06-08 13:23] #43 closed

[2021-06-09 08:15] hmenager commented on #207
you are absolutely right @bryan-brancotte, I just had a look at the behaviour of EDAM browser in releases v1.0.0 and v1.0.1, and this didn't work either :disappointed:
I think this would be a very nice feature to implement though, very useful for the user experience.

[2021-06-09 11:07] HagerDakroury commented on #202
@bryan-brancotte are the offsets here based on trial and error? [code](https://github.com/edamontology/edam-browser/blob/668dabd070333897fc87ca5c7306d66d6f7629e2/js/tree-reusable-d3.js#L202-L204)

I'm at the stage of toggling the tooltip to the left but not sure what offset to follow. Or if there is a way to easily mirror the positions?

[2021-06-09 12:33] bryan-brancotte commented on #202
Yes, the offsets were manually set to place it close to the pointer but not on it.

On the left is a good option, maybe in d3.js there is a way to have tooltip, but I am not aware of so at the time I built the tooltip as it is, with manual location and placement. So here I would go for a ```tooltip.style("left", (d3.event.layerX-20-width_of_the_tooltip) + "px")```

[2021-06-09 16:25] HagerDakroury commented on #202
Thanks a lot! 💯 I was stuck for a while doing the math 😄

[2021-06-10 08:04] #202 closed

[2021-06-10 08:51] bryan-brancotte commented on #207
Hi, @HagerDakroury here are some idea/suggestion for this issue.

When the user click on a node, [here](https://github.com/edamontology/edam-browser/blob/main/js/tree-reusable-d3.js#L366-L368) we call the `clickedElementHandler` to indicate that indeed it has been clicked, then this handler ask to set the element  [selected](https://github.com/edamontology/edam-browser/blob/main/js/tree-edam-stand

[2021-06-10 09:16] HagerDakroury commented on #207
I agree it should be as reusable and encapsulated as much

I have a question, do identifiers here refer to the selected element and its possible duplicate (same term in other branches)? + would any other elements other than identifier[0] be accessed inside the function?

[2021-06-10 09:32] bryan-brancotte commented on #207
the identifier is the one identifying the element and all it duplicate. The catch is that we do not have a dict translating the identifier, we would have to find it each time... cpu consuming. Instead we could have
[code]
and do after this [line](https://github.com/edamontology/edam-browser/blob/main/js/tree-edam-stand-alone.js#L626) a
[code]

We/You could event start with a `moveElementIntoView(d

[2021-06-10 10:24] HagerDakroury commented on #207
ohh, got it!

Yes makes sense. I'll start with this

[2021-06-11 14:02] HagerDakroury commented on #207
so a bit of an update @bryan-brancotte. I figured it out with zoom handler and the scaling aspects but as it turns out this [line](https://github.com/edamontology/edam-browser/blob/main/js/tree-edam-stand-alone.js#L626) is not triggered when you click an element on the search bar (a bit of a late discovery) it's only applicable when clicking on the node.

I'm currently trying to trace the code and

[2021-06-11 14:10] HagerDakroury commented on #207
So, looks like the best place to call the function is in here (triggered in all selection events). Do you think this is the correct direction? @bryan-brancotte

[2021-06-14 12:45] HagerDakroury commented on #207
Hi @bryan-brancotte, I'm trying to implement centring the node when loading the window for the first time, but looks like we can't access the specific node from there (from the start). And indication where to trace it?

[2021-06-14 13:12] bryan-brancotte commented on #207
There might be a link missing associated with "there" ?

(working on your question)

[2021-06-14 13:18] HagerDakroury commented on #207
yeah my bad 😄, I meant from the [startup](https://github.com/edamontology/edam-browser/blob/97de559807f794d7a52526f5166b735afbc0fc0b/js/index.js#L65). I tried tracing the calls and the best I can get is the URI, trying to get the node object (which contains x0,y0) from it.

[2021-06-14 13:26] bryan-brancotte commented on #207
I was wrong : https://github.com/edamontology/edam-browser/blob/3be2455ef92b42924a06afcd86e9152858e1034e/js/autocomplete-edam-reusable.js#L71-L73

So when using it in loadingDoneHandler :

[code]

I has to wrap it in a setTimeout to give time to the rendering to be somehow done, but I don't like it, If you find a way to improve :pray: , do not hesitate !

[2021-06-14 13:54] HagerDakroury commented on #207
I don't think a timeout is such a problem here (unless we can find a point in the code where we're absolutely sure the tree is loaded) I tried `reset` for that but seems like not all node data is loaded.

So, I guess that's good to go for now!

[2021-06-14 13:55] bryan-brancotte commented on #207
Hi @HagerDakroury

To add to functionnality desribed by @hmenager in https://github.com/edamontology/edam-browser/pull/214#issuecomment-860536311, I think the move into view could also be triggered when clicking on an [interactive_edam_uri](https://github.com/edamontology/edam-browser/blob/97de559807f794d7a52526f5166b735afbc0fc0b/js/tree-edam-stand-alone.js#L412)

[2021-06-14 14:35] HagerDakroury commented on #207
Wouldn't that trigger the centering on-click even if it's disabled? (debugging confirmed). I think to enable that, we'd need to place it elsewhere. Can we exclude node clicks inside [interactive_edam_uri](https://github.com/edamontology/edam-browser/blob/97de559807f794d7a52526f5166b735afbc0fc0b/js/tree-edam-stand-alone.js#L412) ?

[2021-06-15 06:44] bryan-brancotte commented on #207
Indeed it would !

Maybe instead of
[code]

we should expose a method
[code]

and use it in the loadingDoneHandler, the interactive_edam_uri, and the clickedElementHandler ?

[2021-06-16 08:05] HagerDakroury opened #216 "Design loading different version of EDAM"
## Feature

Loading different versions of the same ontology (just EDAM for now).
How would that look like UI/UX wise? Will comparing versions be added? , etc.

Feel free to share your design ideas/suggestions!

Edit (Bryan): Let us try to not look at already proposed solution. To propose a design, we can use `<details>...<summary>...` to hide it by default. check here for more details https://gist

[2021-06-16 09:36] #207 closed

[2021-06-16 12:33] bryan-brancotte commented on #216
Hi,

<details>
  <summary>Here is my proposition (click to expand)</summary>

For now we have two button, Edam, and Custom. The second is almost not used. My proposition is to have two menu-buttons, the first to have the branch (or the ontology) and the second to have the version (when relevante i.e not with a custom ontology)
![Capture d’écran de 2021-06-16 09-48-21](https://user-images.githubuse

[2021-06-16 13:56] HagerDakroury commented on #79
@bryan-brancotte, should this be closed? I can't reproduce it anymore. I think it got fixed with #115

[2021-06-16 15:32] bryan-brancotte commented on #79
I agree with you @HagerDakroury

[2021-06-16 15:32] #79 closed

[2021-06-17 06:58] hmenager commented on #216
Here's mine
<details>
<summary>click for details</summary>
![image](https://user-images.githubusercontent.com/1140736/122347293-2928c780-cf4a-11eb-9c07-1d8224a1fe80.png)

</details>

[2021-06-17 08:21] HagerDakroury commented on #216
So, this is an initial idea based on our discussion. Branch and versions are separated + the custom option is moved outside. Will be adding any modifications here.

![designidea](https://user-images.githubusercontent.com/37930475/122359227-ab6ab900-cf55-11eb-921f-d39c314ab6bc.gif)

Should we include any design ideas for the custom popup window in this issue as well?

[2021-06-17 08:52] matuskalas commented on #216
Hey all, sorry for not being able to take part in the morning chats this week.

I agree with the split. A couple of notes:
- Should the Version menu show the loaded version when closed, or do you prefer if that's only elsewhere?
- Branch should be renamed, unless it can load branches from GitHub repos 😉
- Perhaps Filter would be a better name. Inside the menu
    - "sub-ontology" instead of "branc

[2021-06-17 09:31] bryan-brancotte commented on #216
Hi all,

I think we should load the ontology right after clicking on a sub-ontology or a version.

Indeed branch can be confusing, fixed with 48f5f6f030ac77f31a7367eb240f33b60c205de7 (for branch loading, read hereafter :wink: ), and terms-> concepts with 6c38a0d5787e14df80f59bbc7b5c37c1fe8f30fc

If I understand you correctly @HagerDakroury , the custom option you talk is a feature we talked this m

[2021-06-17 10:11] HagerDakroury commented on #216
I believe both menus (filter and version) should show the chosen option (like in @bryan-brancotte's design of the version). Since the version is shown elsewhere in the tree-controls. Do you think it will be redundant to also show it in the menu?

Good point!

We did actually discuss this idea (insert a URL link to .owl file) and agreed it should be included in the custom option.

I'm sure if it sh

[2021-06-17 10:15] HagerDakroury commented on #216
Yes exactly, it's a rework of @hmenager's custom version option (not related to the current custom functionality) and it's for the purpose of loading a custom version of EDAM from a URL.

Not sure if it should be included in the initial design or not though.

[2021-06-17 10:22] bryan-brancotte commented on #216
Yes it is definitly redundant, if we can find a way to avoid this redundancy we should I think.

I think we should, for the design, keep this custom version included, and when implementing it we should comment it as long as we are not able to do it (not the same scope code-wise as you say). This way we will have a good UI, also ready for the day we load the owl (semi)directly

[2021-06-17 10:29] HagerDakroury commented on #216
The meta info in the tree is valuable though (have date and links to the file). So, I'm honestly not sure which of the two version-info is less needed.

I'd actually love to start working on this feature along with the current issue. So, I vote we should at least agree on a design for it.

[2021-06-17 13:23] #176 closed

[2021-06-18 08:24] HagerDakroury opened #218 "Explore integrating edam2json convertor in the browser"
This issue is to keep track of options for integrating [edam2json](https://github.com/edamontology/edam2json) convertor in EDAM browser.

**Option 1:** Wrap the existing [converter](https://github.com/edamontology/edam2json) in a web service:

pros:
- easy and quick to implement
- reusable

cons:
- need to figure out the hosting options

<br>

**Option 2:** integrate js libraries and build on top

[2021-06-18 08:27] hmenager commented on #216
Thanks a lot for this constructive discussion @HagerDakroury  @bryan-brancotte @matuskalas ! I really like a lot the latest variation suggested by @bryan-brancotte in https://github.com/edamontology/edam-browser/issues/216#issuecomment-863086847.

My only *very very minor* comment is that maybe it would be nice to have the version selector to the left and the filter selector to the right, instead

[2021-06-18 08:36] bryan-brancotte commented on #216
Thanks Hervé,

I did not have a reason for putting the filter selection on the left other than "it was there before". So yes let's go for it as you have a reason to put it on the right.

[2021-06-18 08:42] HagerDakroury commented on #216
totally agree!

[2021-06-18 08:44] HagerDakroury commented on #216
So, would that mean including the custom options in the dropdown menu like https://github.com/edamontology/edam-browser/issues/216#issuecomment-863086847? those options are custom ontology, commit hash or fork

[2021-06-18 09:43] hmenager commented on #216
Yes, exactly!

[2021-06-18 12:12] HagerDakroury commented on #50
Hi, was looking at this since is identifier to is already implemented in #177 and have 2 Qs:

1. The expected behavior is the irrelevant terms not being displayed at all in the form, right? because now whenever I try to edit a term, all options are still displayed.
2. Is the edit form still functional? looks like all edits are disabled right now.

[2021-06-18 12:42] bryan-brancotte commented on #50
Indeed irrelevant should not be displayed. I did not test enough the code not my code before merging https://github.com/edamontology/edam-browser/pull/177, and merge not working code, sorry for that.

It is now as I have pushed ~one~ ~two~ **multiple** patches....

### ... BUT ...

When creating the github template issue, many attributs are forgotten... Indeed [here](https://github.com/edamontolog

[2021-06-18 12:44] bryan-brancotte commented on #50
P.S: feel free to fix it @HagerDakroury, I also can, up to you !

[2021-06-18 13:10] HagerDakroury commented on #50
Awesome, it looks like most fields are functional again indeed.
A Q though, this should be clickable, right?
![notclickable](https://user-images.githubusercontent.com/37930475/122565028-4e026500-d046-11eb-9bc9-2cc9987bd762.gif)

I also noticed that some not edited terms are still reported in the Github issue as a modification. Is this the expected behavior here?
For example, clicked an item and di

[2021-06-18 13:11] HagerDakroury commented on #50
Sure! I'd like to work on this. Just need to pinpoint the exact bug(s)!

[2021-06-21 15:38] #50 closed

[2021-06-22 07:49] bryan-brancotte commented on #31
Hi @matuskalas

@HagerDakroury internship is the good occasion to work on this issue, but I (we?) are still blocked with not knowing where to find the galaxy api to get which tool are annotated with edam. Could you provide some pointers to start working on this issue (maybe @hmenager you also have some) ? Or should we simply close this issue ?

[2021-06-30 14:13] matuskalas opened #220 "Let's add the major missing resources into "Community usage""
## Message

### Why this is so important

- This is extremely important **for the maintenance of EDAM**, to be able to see where and how a concept is used. In addition, it gives a head start in case curation is needed after a change in EDAM.

- This is also very helpful **for fostering relationships with communities around resources** that use EDAM.

- Last but not least, it **allows end users to

[2021-06-30 14:18] matuskalas commented on #32
This is still something we definitely want, although I'm fully aware that it will be untrivial. However:
- the Tools Ecosystem (https://github.com/bio-tools/content) may help
- and/or Debian (Med/Sci) may want to have a search API that enables a UX-friendly & application-friendly way of searching for packages, including search by EDAM (CC @smoe)

[2021-07-05 07:51] bryan-brancotte commented on #216
From 21/07/05 meeting,

Design from https://github.com/edamontology/edam-browser/issues/216#issuecomment-863086847 is ok

add tooltip to buttons, "subset" or "sub-section" for the left one, "version" for the right one.

[2021-07-29 08:24] #216 closed

[2021-07-29 08:30] HagerDakroury commented on #218
closed with #222

[2021-07-29 08:30] #218 closed

[2021-07-31 15:24] melibleq commented on #220
Hi people! Would it be possible to keep visualizing the community usage box also while hovering over the box? See in the gif below how it disappears. Thanks!

![EDAM ontology browser](https://user-images.githubusercontent.com/16723182/127744542-aaf9cca8-3d0d-4d56-8b5e-7691080237ab.gif)

[2021-07-31 18:57] melibleq opened #225 "Hover box in the Community Usage section"
## Specification

### Devices

Laptop

### Browser

Brave

## Message

Hi people! Would it be possible to keep visualizing the community usage box also while hovering over the box? See in the gif below how it disappears. Thanks!

![EDAM ontology browser](https://user-images.githubusercontent.com/16723182/127749854-b3c5fda9-0a13-4d78-87b9-873c587a913a.gif)

[2021-07-31 19:35] hmenager opened #226 "Handle CORS errors nicely when loading a custom version of EDAM"
Current behaviour
==============

Whenever a user loads a custom version of EDAM, if there is an error while loading the URL the UI will give no error message and no feedback:
![image](https://user-images.githubusercontent.com/1140736/127750513-fbc96bd4-31f7-4622-bff3-d445fc594065.png)

Suggested improvements
===================

* Display an error message when an error occurs while loading the fi

[2021-07-31 19:42] HagerDakroury commented on #226
thamks @hmenager. A super important issue here.
Also, mind passing the link you were trying to load?

[2021-07-31 19:57] hmenager commented on #226
Sure, it happened to me while trying to test how MONDO would display, with this file:
https://github.com/monarch-initiative/mondo/releases/download/v2021-07-12/mondo-minimal.owl
But you can also test it with EDAM URLs which are not from raw.githubusercontent.com, such as:
https://github.com/edamontology/edamontology/releases/download/1.25/EDAM_1.25.owl
(that's important, because users might want t

[2021-08-01 09:46] hmenager commented on #220
My comments here:

List of resources
============

To be noted: accessing most of these requires a CORS-enabled API, which will probably turn out to be the most difficult here.
Each of these resources is going to require that we contact their maintainers (which is doable but won't be quick).

Open questions, risks, UX considerations
===============================

- Option to hide display of reso

[2021-08-01 15:08] Git-Harshit commented on #225
I see, this issue is occuring as per the working of [Bootstrap Popovers](https://getbootstrap.com/docs/4.0/components/popovers/).
As the mouse is hovered out of `<a>` tag (which is the popover toggle), the corresponding popover disappears.

One quick fix I can think for this is to embed the popover `<div>` inside `<a ... data-toggle="popover" ...>` by calling popover method with `{container: ':sco

[2021-08-01 15:26] HagerDakroury commented on #225
Hi @Git-Harshit, thanks for the thorough explanation and for looking into this.
 Please feel free to open a PR right away!

[2021-08-01 15:40] Git-Harshit commented on #225
Sure!

[2021-08-03 11:20] manikmmalhotra commented on #210
hey @HagerDakroury can i work on this issue?

[2021-08-03 11:34] HagerDakroury commented on #210
hi @manikmmalhotra , go ahead!

[2021-08-03 16:39] manikmmalhotra commented on #210
hey i completed my setup and i dig the problelm and i found a solution i tried and it looks like this,![Annotation 2021-08-03 220831](https://user-images.githubusercontent.com/63007399/128053341-ae1c732f-f96a-416c-90ee-c99927235969.jpg)
can you suggest me if its alright then i'll make the pull request

[2021-08-03 17:41] HagerDakroury commented on #210
hi @manikmmalhotra, great job! this looks good.
Please, feel free to open a PR right away.

[2021-08-03 18:59] bryan-brancotte commented on #210
hi @manikmmalhotra

Thanks for tackling this issue, I have some remarks with your solution of #228. By removing the colspan you narrowed the problem: indeed the element containing the text is too large when using bootstrap tooltip (wasn't the case if `title="blabla"`), but now one can clearly see that a cell is missing.
![Sans titre](https://user-images.githubusercontent.com/11556772/128070165-55a

[2021-08-03 19:15] manikmmalhotra commented on #210
hey @bryan-brancotte  sorry as i just checked the code and i made this mistake it's ```width:40%``` and this is working fine in any browser sory for the inconvenience

also the problem with tooltip is it'll be showing at the mid of the total width and i tried to change the tooltip position by changing the tooltipX variable in tree-edam-stand-alone.js so i have to reduce the width of the component

[2021-08-05 08:46] bryan-brancotte commented on #210
Hi @manikmmalhotra
Indeed with with:40% I see an effect ! Although this solution cause some space to be "lost": look at the blank space "between" the columns.
colspan=2
![Capture d’écran de 2021-08-05 10-30-08](https://user-images.githubusercontent.com/11556772/128318509-8f3a709c-b182-4702-bab7-0e7cf6d0e8b5.png)
width:40%
![Capture d’écran de 2021-08-05 10-30-18](https://user-images.githubusercont

[2021-08-05 09:49] bryan-brancotte opened #231 "Short title of the community"
### Community home page:

https://....

### Accessibility of the term usage

 * [ ] The community expose in a rest API the usage of a given term
 * [ ] The community expose in a web interface the usage of a given term (thus have to be crawled)
 * [ ] The community expose the overall usage of all term (thus have to be crawled)
 * [ ] Others:

#### links :
 *

## details

[2021-08-05 09:49] #231 closed

[2021-08-05 12:04] bryan-brancotte commented on #220
My comments here:

### Why this is so important

Agreed !

### A list of resources to add

Each resources will require different informations, and lead to distinct discussion. We can keep the current issue as a meta issue to gather discussion common to all community.

I created an [issue template for requesting a new community usage](https://github.com/edamontology/edam-browser/blob/main/.github/I

[2021-08-06 08:19] bryan-brancotte commented on #22
Here is a way it could be done, line are weigthed only with the term usage, not its descendant, so not very usefull, anyway the goal of this comment if to show how it could have been done

[code]

[2021-08-06 08:47] bryan-brancotte commented on #20
A draft of how it could be done. the number are triggered when clicking on a node, except for Topic, Data, ...

![Capture d’écran de 2021-08-06 10-45-56](https://user-images.githubusercontent.com/11556772/128483683-42f00bba-4049-46c0-93f3-c8977a321cd3.png)

[code]

[2021-09-14 15:02] HagerDakroury opened #234 "Remove dead code"
As the browser had some recent upgrades, some pieces of code need further refactoring or removing altogether.

This issue to track them:

1. Old custom loading HTML [here](https://github.com/edamontology/edam-browser/blob/cf6a119be66c9f13be02feb298dfd4116b52ef0b/index.html#L232)
2. Old custom loading code [here](https://github.com/edamontology/edam-browser/blob/cf6a119be66c9f13be02feb298dfd4116b52